// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$orange-muda: #f7941e;
$orange-gradient: linear-gradient(141.96deg, #f2c94c 21.95%, #f7941e 101.25%);
$ungu-gradient: linear-gradient(
    180deg,
    #eedaf6 0%,
    #bb6bd9 0.01%,
    #9b51e0 100%
);
$mine-shaft: #333333;
$orange: #ea5b24;
$biru: #0061ae;
$biru-muda: #0097d9;
$biru-gradient: linear-gradient(141.96deg, #0097d9 21.95%, #0061ae 118.68%);
$merah: #e64016;
$biru-dongker: linear-gradient(171.42deg, #f2c94c 6.55%, #f7941e 105.46%);
