@charset "UTF-8";

/*
Template Name: BNI Life
Author: Themesbrand
Version: 1.0.0
Website: https://themesbrand.com/
Contact: themesbrand@gmail.com
File: Main dark Css File
*/

#page-topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1002;
  background-color: rgba(255, 255, 255, 0.03);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}

.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 70px;
  padding: 0 calc(24px / 2) 0 0;
}

.navbar-header .dropdown.show .header-item {
  background-color: #212529;
}

.navbar-brand-box {
  padding: 0 1.5rem;
  text-align: center;
  width: 250px;
}

.logo {
  line-height: 70px;
}

.logo .logo-sm {
  display: none;
}

.logo-light {
  display: none;
}

/* Search */

.app-search {
  padding: calc(32px / 2) 0;
}

.app-search .form-control {
  border: none;
  height: 38px;
  padding-left: 40px;
  padding-right: 20px;
  background-color: #f3f3f9;
  box-shadow: none;
  border-radius: 7px;
}

.app-search span {
  position: absolute;
  z-index: 10;
  font-size: 16px;
  line-height: 38px;
  left: 13px;
  top: 0;
  color: #969aa5;
}

.megamenu-list li {
  position: relative;
  padding: 5px 0px;
}

.megamenu-list li a {
  color: #7f879c;
}

@media (max-width: 992px) {
  .navbar-brand-box {
    width: auto;
  }

  .logo span.logo-lg {
    display: none;
  }

  .logo span.logo-sm {
    display: inline-block;
  }
}

.page-content {
  padding: calc(70px + 12px) 24px 60px 24px;
}

.header-item {
  height: 70px;
  box-shadow: none !important;
  color: #7f879c;
  border: 0;
  border-radius: 0px;
}

.header-item:hover {
  color: #7f879c;
}

.header-profile-user {
  height: 36px;
  width: 36px;
  background-color: #364458;
  padding: 3px;
}

.noti-icon i {
  font-size: 22px;
  color: #7f879c;
}

.noti-icon .badge {
  position: absolute;
  top: 12px;
}

.notification-item .media {
  padding: 0.75rem 1rem;
}

.notification-item .media:hover {
  background-color: #364458;
}

.dropdown-icon-item {
  display: block;
  border-radius: 3px;
  line-height: 34px;
  text-align: center;
  padding: 15px 0 9px;
  display: block;
  border: 1px solid transparent;
  color: #969aa5;
}

.dropdown-icon-item img {
  height: 24px;
}

.dropdown-icon-item span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-icon-item:hover {
  border-color: #273344;
}

.fullscreen-enable [data-toggle=fullscreen] .mdi-fullscreen::before {
  content: "\F294";
}

body[data-topbar=dark] #page-topbar,
body[data-topbar=colored] #page-topbar {
  background-color: #3b5de7;
}

body[data-topbar=dark] .navbar-header .dropdown.show .header-item,
body[data-topbar=colored] .navbar-header .dropdown.show .header-item {
  background-color: rgba(255, 255, 255, 0.05);
}

body[data-topbar=dark] .navbar-header .waves-effect .waves-ripple,
body[data-topbar=colored] .navbar-header .waves-effect .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
}

body[data-topbar=dark] .logo-dark,
body[data-topbar=colored] .logo-dark {
  display: none;
}

body[data-topbar=dark] .logo-light,
body[data-topbar=colored] .logo-light {
  display: block;
}

body[data-topbar=dark] .header-item,
body[data-topbar=colored] .header-item {
  color: #e9ecef;
}

body[data-topbar=dark] .header-item:hover,
body[data-topbar=colored] .header-item:hover {
  color: #e9ecef;
}

body[data-topbar=dark] .header-profile-user,
body[data-topbar=colored] .header-profile-user {
  background-color: rgba(255, 255, 255, 0.25);
}

body[data-topbar=dark] .noti-icon i,
body[data-topbar=colored] .noti-icon i {
  color: #e9ecef;
}

body[data-topbar=dark] .logo-dark,
body[data-topbar=colored] .logo-dark {
  display: none;
}

body[data-topbar=dark] .logo-light,
body[data-topbar=colored] .logo-light {
  display: block;
}

body[data-topbar=dark] .app-search .form-control,
body[data-topbar=colored] .app-search .form-control {
  background-color: rgba(243, 243, 249, 0.07);
  color: #fff;
}

body[data-topbar=dark] .app-search span,
body[data-topbar=dark] .app-search input.form-control::-webkit-input-placeholder,
body[data-topbar=colored] .app-search span,
body[data-topbar=colored] .app-search input.form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

body[data-topbar=colored] #page-topbar {
  background: rgba(255, 255, 255, 0.03);
}

body[data-topbar=colored] .navbar-header .dropdown.show .header-item {
  background-color: rgba(255, 255, 255, 0.05);
}

body[data-topbar=colored] .navbar-header .waves-effect .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
}

@media (max-width: 600px) {
  .navbar-header .dropdown {
    position: static;
  }

  .navbar-header .dropdown .dropdown-menu {
    left: 10px !important;
    right: 10px !important;
  }
}

@media (max-width: 380px) {
  .navbar-brand-box {
    display: none;
  }
}

.page-title-box .breadcrumb {
  background-color: transparent;
  padding: 0;
}

.page-title-box h4 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px !important;
}

.page-title-box .page-title {
  line-height: 70px;
}

.footer {
  bottom: 0;
  padding: 20px calc(24px / 2);
  position: absolute;
  right: 0;
  color: #a6b0cf;
  left: 250px;
  height: 60px;
  background-color: #273344;
}

@media (max-width: 992px) {
  .footer {
    left: 0;
  }
}

.vertical-collpsed .footer {
  left: 70px;
}

body[data-layout=horizontal] .footer {
  left: 0 !important;
}

.right-bar {
  background-color: #1e2938;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
  display: block;
  position: fixed;
  transition: all 200ms ease-out;
  width: 280px;
  z-index: 9999;
  float: right !important;
  right: -290px;
  top: 0;
  bottom: 0;
}

.right-bar .right-bar-toggle {
  background-color: white;
  height: 24px;
  width: 24px;
  line-height: 24px;
  color: #273344;
  text-align: center;
  border-radius: 50%;
}

.right-bar .right-bar-toggle:hover {
  background-color: white;
}

.rightbar-overlay {
  background-color: rgba(239, 242, 247, 0.55);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 9998;
  transition: all 0.2s ease-out;
}

.right-bar-enabled .right-bar {
  right: 0;
}

.right-bar-enabled .rightbar-overlay {
  display: block;
}

@media (max-width: 767.98px) {
  .right-bar {
    overflow: auto;
  }

  .right-bar .slimscroll-menu {
    height: auto !important;
  }
}

.metismenu {
  margin: 0;
}

.metismenu li {
  display: block;
  width: 100%;
}

.metismenu .mm-collapse {
  display: none;
}

.metismenu .mm-collapse:not(.mm-show) {
  display: none;
}

.metismenu .mm-collapse.mm-show {
  display: block;
}

.metismenu .mm-collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition-timing-function: ease;
  transition-duration: 0.35s;
  transition-property: height, visibility;
}

.vertical-menu {
  min-width: 250px;
  max-width: 250px;
  z-index: 1001;
  background: #1e2938;
  bottom: 0;
  margin-top: 0;
  position: fixed;
  top: 70px;
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
}

.main-content {
  margin-left: 250px;
  overflow: hidden;
}

.main-content .content {
  padding: 0 15px 10px 15px;
  margin-top: 70px;
}

#sidebar-menu {
  padding: 0 0 30px 0;
}

#sidebar-menu .mm-active > .has-arrow:after {
  transform: rotate(-180deg);
}

#sidebar-menu .has-arrow:after {
  content: "\F140";
  font-family: "Material Design Icons";
  display: block;
  float: right;
  transition: transform 0.2s;
  font-size: 1rem;
}

#sidebar-menu ul li a {
  display: block;
  padding: 0.625rem 1.5rem;
  color: #7f879c;
  position: relative;
  font-size: 14.4px;
  transition: all 0.4s;
}

#sidebar-menu ul li a i {
  display: inline-block;
  min-width: 1.75rem;
  padding-bottom: 0.125em;
  font-size: 1.2rem;
  line-height: 1.40625rem;
  vertical-align: middle;
  color: #7f879c;
  transition: all 0.4s;
}

#sidebar-menu ul li a:hover {
  color: #3b5de7;
}

#sidebar-menu ul li a:hover i {
  color: #3b5de7;
}

#sidebar-menu ul li .badge {
  margin-top: 4px;
}

#sidebar-menu ul li ul.sub-menu {
  padding: 0;
}

#sidebar-menu ul li ul.sub-menu li a {
  padding: 0.4rem 1.5rem 0.4rem 3.5rem;
  font-size: 14px;
  color: #7f879c;
}

#sidebar-menu ul li ul.sub-menu li ul.sub-menu {
  padding: 0;
}

#sidebar-menu ul li ul.sub-menu li ul.sub-menu li a {
  padding: 0.4rem 1.5rem 0.4rem 4.5rem;
  font-size: 13.5px;
}

.menu-title {
  padding: 12px 20px !important;
  letter-spacing: 0.05em;
  pointer-events: none;
  cursor: default;
  font-size: 11px;
  text-transform: uppercase;
  color: #7f879c;
  font-weight: 600;
}

.mm-active {
  color: #3b5de7 !important;
}

.mm-active .active {
  color: #3b5de7 !important;
}

.mm-active .active i {
  color: #3b5de7 !important;
}

.mm-active > i {
  color: #3b5de7 !important;
}

@media (max-width: 992px) {
  .vertical-menu {
    display: none;
    overflow-y: auto;
  }

  .main-content {
    margin-left: 0 !important;
  }

  body.sidebar-enable .vertical-menu {
    display: block;
  }
}

.vertical-collpsed .main-content {
  margin-left: 70px;
}

.vertical-collpsed .navbar-brand-box {
  width: 70px !important;
}

.vertical-collpsed .logo span.logo-lg {
  display: none;
}

.vertical-collpsed .logo span.logo-sm {
  display: block;
}

.vertical-collpsed .vertical-menu {
  position: absolute;
  max-width: 70px !important;
  min-width: 70px !important;
  z-index: 5;
}

.vertical-collpsed .vertical-menu .user-wid {
  display: none;
}

.vertical-collpsed .vertical-menu .simplebar-mask,
.vertical-collpsed .vertical-menu .simplebar-content-wrapper {
  overflow: visible !important;
}

.vertical-collpsed .vertical-menu .simplebar-scrollbar {
  display: none !important;
}

.vertical-collpsed .vertical-menu .simplebar-offset {
  bottom: 0 !important;
}

.vertical-collpsed .vertical-menu #sidebar-menu .menu-title,
.vertical-collpsed .vertical-menu #sidebar-menu .badge,
.vertical-collpsed .vertical-menu #sidebar-menu .collapse.in {
  display: none !important;
}

.vertical-collpsed .vertical-menu #sidebar-menu .nav.collapse {
  height: inherit !important;
}

.vertical-collpsed .vertical-menu #sidebar-menu .has-arrow:after {
  display: none;
}

.vertical-collpsed .vertical-menu #sidebar-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a {
  padding: 15px 20px;
  min-height: 55px;
  transition: none;
}

.vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a:hover,
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a:active,
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a:focus {
  color: #3b5de7;
}

.vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a i {
  font-size: 1.45rem;
  margin-left: 4px;
}

.vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a span {
  display: none;
  padding-left: 25px;
}

.vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a {
  position: relative;
  width: calc(190px + 70px);
  color: #3b5de7;
  background-color: #171f2b;
  transition: none;
}

.vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a i {
  color: #3b5de7;
}

.vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a span {
  display: inline;
}

.vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul {
  display: block;
  left: 70px;
  position: absolute;
  width: 190px;
  height: auto !important;
  box-shadow: 3px 5px 10px 0 rgba(54, 61, 71, 0.1);
}

.vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul ul {
  box-shadow: 3px 5px 10px 0 rgba(54, 61, 71, 0.1);
}

.vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul a {
  box-shadow: none;
  padding: 8px 20px;
  position: relative;
  width: 190px;
  z-index: 6;
  color: #7f879c;
}

.vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul a:hover {
  color: #3b5de7;
}

.vertical-collpsed .vertical-menu #sidebar-menu > ul ul {
  padding: 5px 0;
  z-index: 9999;
  display: none;
  background-color: #1e2938;
}

.vertical-collpsed .vertical-menu #sidebar-menu > ul ul li:hover > ul {
  display: block;
  left: 190px;
  height: auto !important;
  margin-top: -36px;
  position: absolute;
  width: 190px;
}

.vertical-collpsed .vertical-menu #sidebar-menu > ul ul li > a span.pull-right {
  position: absolute;
  right: 20px;
  top: 12px;
  transform: rotate(270deg);
}

.vertical-collpsed .vertical-menu #sidebar-menu > ul ul li.active a {
  color: #212529;
}

body[data-sidebar=dark] .vertical-menu {
  background: #2a3042;
}

body[data-sidebar=dark] #sidebar-menu ul li a {
  color: #a6b0cf;
}

body[data-sidebar=dark] #sidebar-menu ul li a i {
  color: #6a7187;
}

body[data-sidebar=dark] #sidebar-menu ul li a:hover {
  color: #ffffff;
}

body[data-sidebar=dark] #sidebar-menu ul li a:hover i {
  color: #ffffff;
}

body[data-sidebar=dark] #sidebar-menu ul li ul.sub-menu li a {
  color: #79829c;
}

body[data-sidebar=dark] #sidebar-menu ul li ul.sub-menu li a:hover {
  color: #ffffff;
}

body[data-sidebar=dark].vertical-collpsed {
  min-height: 1200px;
}

body[data-sidebar=dark].vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a {
  background: #2e3548;
  color: #ffffff;
}

body[data-sidebar=dark].vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a i {
  color: #ffffff;
}

body[data-sidebar=dark].vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul a {
  color: #79829c;
}

body[data-sidebar=dark].vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > ul a:hover {
  color: #ffffff;
}

body[data-sidebar=dark].vertical-collpsed .vertical-menu #sidebar-menu > ul ul {
  background-color: #2a3042;
}

body[data-sidebar=dark].vertical-collpsed .vertical-menu #sidebar-menu ul li.mm-active .active {
  color: #3b5de7 !important;
}

body[data-sidebar=dark].vertical-collpsed .vertical-menu #sidebar-menu ul li.mm-active .active i {
  color: #3b5de7 !important;
}

body[data-sidebar=dark] .mm-active {
  color: #ffffff !important;
}

body[data-sidebar=dark] .mm-active > i {
  color: #ffffff !important;
}

body[data-sidebar=dark] .mm-active .active {
  color: #ffffff !important;
}

body[data-sidebar=dark] .mm-active .active i {
  color: #ffffff !important;
}

body[data-sidebar=dark] .menu-title {
  color: #6a7187;
}

body[data-layout=horizontal] .main-content {
  margin-left: 0 !important;
}

body[data-sidebar-size=small] .navbar-brand-box {
  width: 180px;
}

body[data-sidebar-size=small] .vertical-menu {
  min-width: 180px;
  max-width: 180px;
  text-align: center;
}

body[data-sidebar-size=small] .main-content {
  margin-left: 180px;
}

body[data-sidebar-size=small] .footer {
  left: 180px;
}

body[data-sidebar-size=small] .has-arrow:after,
body[data-sidebar-size=small] .badge {
  display: none !important;
}

body[data-sidebar-size=small] #sidebar-menu ul li a i {
  display: block;
}

body[data-sidebar-size=small] #sidebar-menu ul li ul.sub-menu li a {
  padding-left: 1.5rem;
}

body[data-sidebar-size=small].vertical-collpsed .main-content {
  margin-left: 70px;
}

body[data-sidebar-size=small].vertical-collpsed .vertical-menu #sidebar-menu {
  text-align: left;
}

body[data-sidebar-size=small].vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a i {
  display: inline-block;
}

body[data-sidebar-size=small].vertical-collpsed .footer {
  left: 70px;
}

body[data-sidebar=colored] .vertical-menu {
  background-color: #3b5de7;
}

body[data-sidebar=colored] .navbar-brand-box {
  background-color: #3b5de7;
}

body[data-sidebar=colored] .navbar-brand-box .logo-dark {
  display: none;
}

body[data-sidebar=colored] .navbar-brand-box .logo-light {
  display: block;
}

body[data-sidebar=colored] .mm-active {
  color: #fff !important;
}

body[data-sidebar=colored] .mm-active > i,
body[data-sidebar=colored] .mm-active .active {
  color: #fff !important;
}

body[data-sidebar=colored] #sidebar-menu ul li.menu-title {
  color: rgba(255, 255, 255, 0.6);
}

body[data-sidebar=colored] #sidebar-menu ul li a {
  color: rgba(255, 255, 255, 0.5);
}

body[data-sidebar=colored] #sidebar-menu ul li a i {
  color: rgba(255, 255, 255, 0.5);
}

body[data-sidebar=colored] #sidebar-menu ul li a.waves-effect .waves-ripple {
  background: rgba(255, 255, 255, 0.1);
}

body[data-sidebar=colored] #sidebar-menu ul li ul.sub-menu li a {
  color: rgba(255, 255, 255, 0.4);
}

body[data-sidebar=colored].vertical-collpsed .vertical-menu #sidebar-menu > ul > li:hover > a {
  background-color: #4465e8;
}

body[data-sidebar=colored].vertical-collpsed .vertical-menu #sidebar-menu ul li.mm-active .active {
  color: #3b5de7 !important;
}

body[data-layout=horizontal] .navbar-brand-box {
  width: auto;
}

body[data-layout=horizontal] .page-content {
  margin-top: 70px;
  padding: 0 24px 60px 24px;
}

body[data-layout=horizontal] .page-title-box {
  padding-bottom: 0;
}

body[data-layout=horizontal] #page-topbar {
  background-color: #fff;
}

.topnav {
  padding: 0 calc(24px / 2);
}

@media (max-width: 991.98px) {
  .topnav {
    position: fixed;
    left: 0;
    right: 0;
    top: 70px;
    z-index: 100;
    background: #282e3f;
    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  }
}

.topnav .topnav-menu {
  margin: 0;
  padding: 0;
}

.topnav .navbar-nav .nav-link {
  font-size: 14px;
  position: relative;
  color: #7f879c;
  line-height: 70px;
}

.topnav .navbar-nav .nav-link i {
  font-size: 15px;
}

.topnav .navbar-nav .nav-link:focus,
.topnav .navbar-nav .nav-link:hover {
  color: #3b5de7;
  background-color: transparent;
}

.topnav .navbar-nav .dropdown-item {
  color: #7f879c;
}

.topnav .navbar-nav .dropdown-item.active,
.topnav .navbar-nav .dropdown-item:hover {
  color: #3b5de7;
  background-color: transparent;
}

.topnav .navbar-nav .nav-item .nav-link.active {
  color: #3b5de7;
}

.topnav .navbar-nav .dropdown.active > a {
  color: #3b5de7;
  background-color: transparent;
}

@media (min-width: 1200px) {
  body[data-layout=horizontal] .container-fluid,
  body[data-layout=horizontal] .navbar-header {
    max-width: 90%;
  }

  .topnav .navbar-nav .nav-link {
    padding: 0 1.1rem;
  }
}

@media (min-width: 992px) {
  .topnav .dropdown-item {
    padding: 0.5rem 1.5rem;
    min-width: 180px;
  }

  .topnav .dropdown.mega-dropdown .mega-dropdown-menu {
    left: 0px;
    right: auto;
  }

  .topnav .dropdown .dropdown-menu {
    margin-top: 0;
    border-radius: 0 0 0.25rem 0.25rem;
  }

  .topnav .dropdown .dropdown-menu .arrow-down::after {
    right: 15px;
    transform: rotate(-135deg) translateY(-50%);
    position: absolute;
  }

  .topnav .dropdown .dropdown-menu .dropdown .dropdown-menu {
    position: absolute;
    top: 0 !important;
    left: 100%;
    display: none;
  }

  .topnav .dropdown:hover > .dropdown-menu {
    display: block;
  }

  .topnav .dropdown:hover > .dropdown-menu > .dropdown:hover > .dropdown-menu {
    display: block;
  }

  .navbar-toggle {
    display: none;
  }
}

.arrow-down {
  display: inline-block;
}

.arrow-down:after {
  border-color: initial;
  border-style: solid;
  border-width: 0 0 1px 1px;
  content: "";
  height: 0.4em;
  display: inline-block;
  right: 5px;
  top: 50%;
  margin-left: 7px;
  transform: rotate(-45deg) translateY(-50%);
  transform-origin: top;
  transition: all 0.3s ease-out;
  width: 0.4em;
}

@media (max-width: 1199.98px) {
  .topnav-menu .navbar-nav li:last-of-type .dropdown .dropdown-menu {
    right: 100%;
    left: auto;
  }
}

@media (max-width: 991.98px) {
  .topnav {
    max-height: 360px;
    overflow-y: auto;
    padding: 0;
  }

  .topnav .navbar-nav .nav-link {
    padding: 0.75rem 1.1rem;
    line-height: inherit;
  }

  .topnav .dropdown .dropdown-menu {
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding-left: 15px;
  }

  .topnav .dropdown .dropdown-mega-menu-xl,
  .topnav .dropdown .dropdown-mega-menu-lg {
    width: auto;
  }

  .topnav .dropdown .dropdown-mega-menu-xl .row,
  .topnav .dropdown .dropdown-mega-menu-lg .row {
    margin: 0px;
  }

  .topnav .dropdown .dropdown-item {
    position: relative;
    background-color: transparent;
  }

  .topnav .dropdown .dropdown-item.active,
  .topnav .dropdown .dropdown-item:active {
    color: #3b5de7;
  }

  .topnav .arrow-down::after {
    right: 15px;
    position: absolute;
  }
}

@media (min-width: 992px) {
  body[data-layout=horizontal][data-topbar=light] .topnav {
    background-color: #3b5de7;
  }

  body[data-layout=horizontal][data-topbar=light] .topnav .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
  }

  body[data-layout=horizontal][data-topbar=light] .topnav .navbar-nav .nav-link:focus,
  body[data-layout=horizontal][data-topbar=light] .topnav .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.9);
  }

  body[data-layout=horizontal][data-topbar=light] .topnav .navbar-nav > .dropdown.active > a {
    color: rgba(255, 255, 255, 0.9) !important;
  }
}

body[data-layout=horizontal][data-topbar=colored] #page-topbar,
body[data-layout=horizontal][data-topbar=dark] #page-topbar {
  background-color: #3b5de7;
  box-shadow: none;
}

body[data-layout=horizontal][data-topbar=colored] .logo-dark,
body[data-layout=horizontal][data-topbar=dark] .logo-dark {
  display: none;
}

body[data-layout=horizontal][data-topbar=colored] .logo-light,
body[data-layout=horizontal][data-topbar=dark] .logo-light {
  display: block;
}

body[data-layout=horizontal][data-topbar=colored] .app-search .form-control,
body[data-layout=horizontal][data-topbar=dark] .app-search .form-control {
  background-color: rgba(243, 243, 249, 0.07);
  color: #fff;
}

body[data-layout=horizontal][data-topbar=colored] .app-search span,
body[data-layout=horizontal][data-topbar=colored] .app-search input.form-control::-webkit-input-placeholder,
body[data-layout=horizontal][data-topbar=dark] .app-search span,
body[data-layout=horizontal][data-topbar=dark] .app-search input.form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

body[data-layout=horizontal][data-topbar=colored] .header-item,
body[data-layout=horizontal][data-topbar=dark] .header-item {
  color: #e9ecef;
}

body[data-layout=horizontal][data-topbar=colored] .header-item:hover,
body[data-layout=horizontal][data-topbar=dark] .header-item:hover {
  color: #e9ecef;
}

body[data-layout=horizontal][data-topbar=colored] .navbar-header .dropdown.show .header-item,
body[data-layout=horizontal][data-topbar=dark] .navbar-header .dropdown.show .header-item {
  background-color: rgba(255, 255, 255, 0.1);
}

body[data-layout=horizontal][data-topbar=colored] .navbar-header .waves-effect .waves-ripple,
body[data-layout=horizontal][data-topbar=dark] .navbar-header .waves-effect .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
}

body[data-layout=horizontal][data-topbar=colored] .noti-icon i,
body[data-layout=horizontal][data-topbar=dark] .noti-icon i {
  color: #e9ecef;
}

@media (min-width: 992px) {
  body[data-layout=horizontal][data-topbar=colored] .topnav .navbar-nav .nav-link,
  body[data-layout=horizontal][data-topbar=dark] .topnav .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
  }

  body[data-layout=horizontal][data-topbar=colored] .topnav .navbar-nav .nav-link:focus,
  body[data-layout=horizontal][data-topbar=colored] .topnav .navbar-nav .nav-link:hover,
  body[data-layout=horizontal][data-topbar=dark] .topnav .navbar-nav .nav-link:focus,
  body[data-layout=horizontal][data-topbar=dark] .topnav .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.9);
  }

  body[data-layout=horizontal][data-topbar=colored] .topnav .navbar-nav > .dropdown.active > a,
  body[data-layout=horizontal][data-topbar=dark] .topnav .navbar-nav > .dropdown.active > a {
    color: rgba(255, 255, 255, 0.9) !important;
  }
}

body[data-layout=horizontal][data-topbar=dark] #page-topbar {
  background-color: #3b5de7;
}

body[data-layout=horizontal] .logo-light {
  display: block;
}

body[data-layout=horizontal] .logo-dark {
  display: none;
}

body[data-layout-size=boxed] {
  background-color: #0a121c;
}

body[data-layout-size=boxed] .container-fluid {
  max-width: 100% !important;
}

body[data-layout-size=boxed] #layout-wrapper {
  background-color: #17212f;
  max-width: 1300px;
  margin: 0 auto;
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
}

body[data-layout-size=boxed] #layout-wrapper::before {
  max-width: 1300px;
  margin: 0 auto;
}

body[data-layout-size=boxed] #page-topbar {
  max-width: 1300px;
  margin: 0 auto;
}

body[data-layout-size=boxed] .footer {
  margin: 0 auto;
  max-width: calc(1300px - 250px);
}

body[data-layout-size=boxed].vertical-collpsed .footer {
  max-width: calc(1300px - 70px);
}

body[data-layout=horizontal][data-layout-size=boxed] .footer {
  max-width: 1300px;
}

body[data-layout=horizontal][data-layout-size=boxed] .container-fluid,
body[data-layout=horizontal][data-layout-size=boxed] .navbar-header {
  max-width: 1300px;
}

@media (min-width: 992px) {
  body[data-layout=detached] .container-fluid {
    max-width: 95%;
  }

  body[data-layout=detached] #page-topbar {
    position: absolute;
  }

  body[data-layout=detached] .toggle-btn {
    display: none;
  }

  body[data-layout=detached] .navbar-brand-box {
    margin-right: 24px;
  }

  body[data-layout=detached] .vertical-menu {
    border-radius: 7px;
    position: relative;
    margin-top: 35px;
  }

  body[data-layout=detached] .vertical-menu .user-img img {
    padding: 6px;
    border: 2px dashed #3b5de7;
  }

  body[data-layout=detached] #sidebar-menu {
    padding-bottom: 90px;
  }

  body[data-layout=detached] .page-content {
    margin-top: 16px;
    padding-bottom: 0px;
  }

  body[data-layout=detached] .main-content {
    position: relative;
    min-height: 100vh;
    padding-bottom: 60px;
  }

  body[data-layout=detached] .page-title-box {
    padding-bottom: 24px;
  }

  body[data-layout=detached] .page-title-box .page-title {
    line-height: 70px;
  }
}

@media (max-width: 991.98px) {
  body[data-layout=detached] .container-fluid {
    padding: 0;
  }

  body[data-layout=detached] .page-content {
    padding: calc(70px + 0px) 24px 60px 24px;
  }
}

body[data-layout=detached] #layout-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body[data-layout=detached] #layout-wrapper::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  width: 100%;
  height: 165px;
  background: linear-gradient(to right, #273c92, #293e92);
  box-shadow: 1px 0 7px 0 rgba(0, 0, 0, 0.5);
}

body[data-layout=detached] #layout-wrapper::after {
  background: url("/images/bg-effect.png") center;
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  width: 100%;
  height: 180px;
  background-size: cover;
  opacity: 0.03;
}

body[data-layout=detached] .main-content {
  width: 100%;
  margin-left: 0;
}

body[data-layout=detached] .navbar-brand-box {
  float: left;
  position: relative;
  text-align: left;
}

body[data-layout=detached] .navbar-header {
  padding: 0px;
}

body[data-layout=detached] .navbar-header .card-img-overlay {
  background-color: rgba(0, 0, 0, 0.4);
}

body[data-layout=detached] .footer {
  left: 0;
}

body[data-layout=detached] .footer .container-fluid {
  max-width: 100%;
}

body[data-layout=detached] .page-title-box {
  position: relative;
  z-index: 1;
}

body[data-layout=detached] .page-title-box .page-title {
  color: #fff;
}

body[data-layout=detached] .page-title-box .breadcrumb-item > a {
  color: rgba(255, 255, 255, 0.8);
}

body[data-layout=detached] .page-title-box .breadcrumb-item.active,
body[data-layout=detached] .page-title-box .breadcrumb-item + .breadcrumb-item::before {
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 991.98px) {
  body[data-topbar=colored] #page-topbar {
    background: linear-gradient(to right, #273c92, #293e92);
  }
}

/*!
 * Waves v0.7.6
 * http://fian.my.id/Waves 
 * 
 * Copyright 2014-2018 Alfiana E. Sibuea and other contributors 
 * Released under the MIT license 
 * https://github.com/fians/Waves/blob/master/LICENSE */

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  background: radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  transition: all 0.5s ease-out;
  transition-property: transform, opacity;
  transform: scale(0) translate(0, 0);
  pointer-events: none;
}

.waves-effect.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
  background: radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
}

.waves-effect.waves-classic .waves-ripple {
  background: rgba(0, 0, 0, 0.2);
}

.waves-effect.waves-classic.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
}

.waves-notransition {
  transition: none !important;
}

.waves-button,
.waves-circle {
  transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.waves-button,
.waves-button:hover,
.waves-button:visited,
.waves-button-input {
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  outline: none;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  z-index: 1;
}

.waves-button {
  padding: 0.85em 1.1em;
  border-radius: 0.2em;
}

.waves-button-input {
  margin: 0;
  padding: 0.85em 1.1em;
}

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom;
}

.waves-input-wrapper.waves-button {
  padding: 0;
}

.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
}

.waves-float {
  -webkit-mask-image: none;
  box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  transition: all 300ms;
}

.waves-float:active {
  box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
}

.waves-block {
  display: block;
}

.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.4);
}

.waves-effect.waves-primary .waves-ripple {
  background-color: rgba(59, 93, 231, 0.4);
}

.waves-effect.waves-success .waves-ripple {
  background-color: rgba(69, 203, 133, 0.4);
}

.waves-effect.waves-info .waves-ripple {
  background-color: rgba(12, 170, 220, 0.4);
}

.waves-effect.waves-warning .waves-ripple {
  background-color: rgba(238, 185, 2, 0.4);
}

.waves-effect.waves-danger .waves-ripple {
  background-color: rgba(255, 113, 91, 0.4);
}

.avatar-xs {
  height: 2rem;
  width: 2rem;
}

.avatar-sm {
  height: 2.5rem;
  width: 2.5rem;
}

.avatar-md {
  height: 4.5rem;
  width: 4.5rem;
}

.avatar-lg {
  height: 6rem;
  width: 6rem;
}

.avatar-xl {
  height: 7.5rem;
  width: 7.5rem;
}

.avatar-title {
  align-items: center;
  background-color: #3b5de7;
  color: #fff;
  display: flex;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.font-size-11 {
  font-size: 11px !important;
}

.font-size-12 {
  font-size: 12px !important;
}

.font-size-13 {
  font-size: 13px !important;
}

.font-size-14 {
  font-size: 14px !important;
}

.font-size-15 {
  font-size: 15px !important;
}

.font-size-16 {
  font-size: 16px !important;
}

.font-size-17 {
  font-size: 17px !important;
}

.font-size-18 {
  font-size: 18px !important;
}

.font-size-20 {
  font-size: 20px !important;
}

.font-size-22 {
  font-size: 22px !important;
}

.font-size-24 {
  font-size: 24px !important;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-semibold {
  font-weight: 600;
}

.social-list-item {
  height: 2rem;
  width: 2rem;
  line-height: calc(2rem - 2px);
  display: block;
  border: 1px solid #7e8396;
  border-radius: 50%;
  color: #7e8396;
  text-align: center;
}

.w-xs {
  min-width: 80px;
}

.w-sm {
  min-width: 95px;
}

.w-md {
  min-width: 110px;
}

.w-lg {
  min-width: 140px;
}

.w-xl {
  min-width: 160px;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1e2938;
  z-index: 9999;
}

#status {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
}

.spinner-chase {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  position: relative;
  animation: spinner-chase 2.5s infinite linear both;
}

.chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: chase-dot 2s infinite ease-in-out both;
}

.chase-dot:before {
  content: "";
  display: block;
  width: 25%;
  height: 25%;
  background-color: #3b5de7;
  border-radius: 100%;
  animation: chase-dot-before 2s infinite ease-in-out both;
}

.chase-dot:nth-child(1) {
  animation-delay: -1.1s;
}

.chase-dot:nth-child(1):before {
  animation-delay: -1.1s;
}

.chase-dot:nth-child(2) {
  animation-delay: -1s;
}

.chase-dot:nth-child(2):before {
  animation-delay: -1s;
}

.chase-dot:nth-child(3) {
  animation-delay: -0.9s;
}

.chase-dot:nth-child(3):before {
  animation-delay: -0.9s;
}

.chase-dot:nth-child(4) {
  animation-delay: -0.8s;
}

.chase-dot:nth-child(4):before {
  animation-delay: -0.8s;
}

.chase-dot:nth-child(5) {
  animation-delay: -0.7s;
}

.chase-dot:nth-child(5):before {
  animation-delay: -0.7s;
}

.chase-dot:nth-child(6) {
  animation-delay: -0.6s;
}

.chase-dot:nth-child(6):before {
  animation-delay: -0.6s;
}

@keyframes spinner-chase {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes chase-dot {
  80%, 100% {
    transform: rotate(360deg);
  }
}

@keyframes chase-dot-before {
  50% {
    transform: scale(0.4);
  }

  100%, 0% {
    transform: scale(1);
  }
}

.mini-stats-wid .mini-stat-icon {
  overflow: hidden;
  position: relative;
}

.mini-stats-wid .mini-stat-icon:before,
.mini-stats-wid .mini-stat-icon:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 54px;
  background-color: rgba(255, 255, 255, 0.1);
  left: 16px;
  transform: rotate(32deg);
  top: -5px;
  transition: all 0.4s;
}

.mini-stats-wid .mini-stat-icon::after {
  left: -12px;
  width: 12px;
  transition: all 0.2s;
}

.mini-stats-wid:hover .mini-stat-icon::after {
  left: 60px;
}

.activity-wid {
  border-left: 3px dashed #364458;
  margin-left: 16px;
}

.activity-wid .activity-list {
  position: relative;
  padding: 0 0 40px 30px;
}

.activity-wid .activity-list .activity-icon {
  position: absolute;
  left: -16px;
  top: -6px;
  z-index: 9;
}

.activity-wid .activity-list:last-child {
  padding-bottom: 0px;
}

.social-source .social-source-list {
  padding: 13px 0px;
}

.inbox-wid .inbox-list-item a {
  color: #7f879c;
  display: block;
  padding: 14px 0px;
  border-bottom: 1px solid #364458;
}

.inbox-wid .inbox-list-item:first-child a {
  padding-top: 0px;
}

.inbox-wid .inbox-list-item:last-child a {
  border-bottom: 0px;
}

.review-carousel .carousel-control-icon {
  width: 24px;
  height: 24px;
  line-height: 24px;
  color: #3b5de7;
  background-color: rgba(59, 93, 231, 0.25);
  font-size: 20px;
  border-radius: 50%;
}

.review-carousel .carousel-control-next,
.review-carousel .carousel-control-prev {
  bottom: auto;
  top: -47px;
}

.review-carousel .carousel-control-prev {
  left: auto;
  right: 40px;
}

.profile-widgets .online-circle {
  position: absolute;
  right: 0;
  top: 100px;
  left: 75px;
}

.button-items {
  margin-left: -8px;
  margin-bottom: -12px;
}

.button-items .btn {
  margin-bottom: 12px;
  margin-left: 8px;
}

.mfp-popup-form {
  max-width: 1140px;
}

.bs-example-modal {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block;
}

.icon-demo-content {
  text-align: center;
  color: #7e8396;
}

.icon-demo-content i {
  display: block;
  font-size: 24px;
  margin-bottom: 16px;
  color: #7e8396;
  transition: all 0.4s;
}

.icon-demo-content .col-lg-4 {
  margin-top: 24px;
}

.icon-demo-content .col-lg-4:hover i {
  color: #3b5de7;
  transform: scale(1.5);
}

.grid-structure .grid-container {
  background-color: #212529;
  margin-top: 10px;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 10px 20px;
}

@media print {
  .vertical-menu,
  .right-bar,
  .page-title-box,
  .navbar-header,
  .footer {
    display: none !important;
  }

  .card-body,
  .main-content,
  .right-bar,
  .page-content,
  body {
    padding: 0;
    margin: 0;
  }

  .card {
    border: 0;
  }
}

[data-simplebar] {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0 !important;
  bottom: 0;
  right: 0 !important;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  visibility: visible;
  overflow: auto;
  /* Scroll on this element otherwise element can't have a padding applied properly */
  max-width: 100%;
  /* Not required for horizontal scroll to trigger */
  max-height: 100%;
  /* Needed for vertical scroll to trigger */
  scrollbar-width: none;
  padding: 0px !important;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.simplebar-content:before,
.simplebar-content:after {
  content: " ";
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0;
}

.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  right: 2px;
  width: 4px;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: #a2adb7;
  border-radius: 7px;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.5;
  transition: opacity 0s linear;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */

[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}

.custom-scroll {
  height: 100%;
}

.fc-toolbar h2 {
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.fc th.fc-widget-header {
  background: #273344;
  font-size: 13px;
  line-height: 20px;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: 600;
}

.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
  border-color: #273344;
}

.fc-unthemed td.fc-today {
  background: #2e3d51;
}

.fc-button {
  background: #1e2938;
  border-color: #364458;
  color: #e0e0e0;
  text-transform: capitalize;
  box-shadow: none;
  padding: 6px 12px !important;
  height: auto !important;
}

.fc-state-down,
.fc-state-active,
.fc-state-disabled {
  background-color: #3b5de7;
  color: #fff;
  text-shadow: none;
}

.fc-event {
  border-radius: 2px;
  border: none;
  cursor: move;
  font-size: 0.8125rem;
  margin: 5px 7px;
  padding: 5px 5px;
  text-align: center;
}

.fc-event,
.fc-event-dot {
  background-color: #3b5de7;
}

.fc-event .fc-content {
  color: #fff;
}

/* ==============
  Druafula
===================*/

.task-box {
  border: 1px solid #364458;
}

.gu-transit {
  border: 1px dashed #969aa5 !important;
  background-color: #273344 !important;
}

#session-timeout-dialog .close {
  display: none;
}

#session-timeout-dialog .countdown-holder {
  color: #FF715B;
  font-weight: 500;
}

#session-timeout-dialog .btn-default {
  background-color: #fff;
  color: #FF715B;
  box-shadow: none;
}

.irs--round .irs-bar,
.irs--round .irs-to,
.irs--round .irs-from,
.irs--round .irs-single {
  background: #3b5de7 !important;
  font-size: 11px;
}

.irs--round .irs-to:before,
.irs--round .irs-from:before,
.irs--round .irs-single:before {
  border-top-color: #3b5de7;
}

.irs--round .irs-line {
  background: #364458;
  border-color: #364458;
}

.irs--round .irs-grid-text {
  font-size: 11px;
  color: #7f879c;
}

.irs--round .irs-min,
.irs--round .irs-max {
  color: #7f879c;
  background: #364458;
  font-size: 11px;
}

.irs--round .irs-handle {
  border: 2px solid #3b5de7;
  width: 12px;
  height: 12px;
  top: 31px;
  background-color: #1e2938 !important;
}

.swal2-container .swal2-title {
  font-size: 24px;
  font-weight: 500;
}

.swal2-icon.swal2-question {
  border-color: #0CAADC;
  color: #0CAADC;
}

.swal2-icon.swal2-success [class^=swal2-success-line] {
  background-color: #45cb85;
}

.swal2-icon.swal2-success .swal2-success-ring {
  border-color: rgba(69, 203, 133, 0.3);
}

.swal2-icon.swal2-warning {
  border-color: #EEB902;
  color: #EEB902;
}

.swal2-styled:focus {
  box-shadow: none;
}

.swal2-content {
  font-size: 16px;
}

.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step {
  background: #3b5de7;
}

.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step ~ .swal2-progress-step,
.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step ~ .swal2-progress-step-line {
  background: rgba(59, 93, 231, 0.3);
}

.symbol {
  border-color: #1e2938;
}

.rating-symbol-background,
.rating-symbol-foreground {
  font-size: 24px;
}

.rating-symbol-foreground {
  top: 0px;
}

.error {
  color: #FF715B;
}

.parsley-error {
  border-color: #FF715B;
}

.parsley-errors-list {
  display: none;
  margin: 0;
  padding: 0;
}

.parsley-errors-list.filled {
  display: block;
}

.parsley-errors-list > li {
  font-size: 12px;
  list-style: none;
  color: #FF715B;
  margin-top: 5px;
}

.select2-container .select2-selection--single {
  background-color: #2b384a;
  border: 1px solid #364458;
  height: 38px;
}

.select2-container .select2-selection--single:focus {
  outline: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 36px;
  padding-left: 12px;
  color: #7e8396;
}

.select2-container .select2-selection--single .select2-selection__arrow {
  height: 34px;
  width: 34px;
  right: 3px;
}

.select2-container .select2-selection--single .select2-selection__arrow b {
  border-color: #7e8396 transparent transparent transparent;
  border-width: 6px 6px 0 6px;
}

.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #7e8396 transparent !important;
  border-width: 0 6px 6px 6px !important;
}

.select2-container--default .select2-results__group {
  font-weight: 500;
}

.select2-container--default .select2-search--dropdown {
  padding: 10px;
  background-color: #273344;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #364458;
  background-color: #2b384a;
  color: #969aa5;
  outline: none;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #3b5de7;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #364458;
  color: #e9ecef;
}

.select2-container--default .select2-results__option[aria-selected=true]:hover {
  background-color: #3b5de7;
  color: #fff;
}

.select2-results__option {
  padding: 6px 12px;
}

.select2-dropdown {
  border: #2e3d51;
  background-color: #273344;
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
}

.select2-search input {
  border: 1px solid #364458;
}

.select2-container .select2-selection--multiple {
  min-height: 38px;
  background-color: #2b384a;
  border: 1px solid #364458 !important;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
  padding: 2px 10px;
}

.select2-container .select2-selection--multiple .select2-search__field {
  border: 0;
  color: #7e8396;
}

.select2-container .select2-selection--multiple .select2-search__field::-moz-placeholder {
  color: #7e8396;
}

.select2-container .select2-selection--multiple .select2-search__field:-ms-input-placeholder {
  color: #7e8396;
}

.select2-container .select2-selection--multiple .select2-search__field::-ms-input-placeholder {
  color: #7e8396;
}

.select2-container .select2-selection--multiple .select2-search__field::placeholder {
  color: #7e8396;
}

.select2-container .select2-selection--multiple .select2-selection__choice {
  background-color: #273344;
  border: 1px solid #364458;
  border-radius: 1px;
  padding: 0 7px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #7f879c;
}

/* CSS Switch */

input[switch] {
  display: none;
}

input[switch] + label {
  font-size: 1em;
  line-height: 1;
  width: 56px;
  height: 24px;
  background-color: #7f879c;
  background-image: none;
  border-radius: 2rem;
  padding: 0.16667rem;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  position: relative;
  font-weight: 500;
  transition: all 0.1s ease-in-out;
}

input[switch] + label:before {
  color: #eff2f7;
  content: attr(data-off-label);
  display: block;
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
  position: absolute;
  right: 1px;
  margin: 3px;
  top: -2px;
  text-align: center;
  min-width: 1.66667rem;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
}

input[switch] + label:after {
  content: "";
  position: absolute;
  left: 3px;
  background-color: #273344;
  box-shadow: none;
  border-radius: 2rem;
  height: 20px;
  width: 20px;
  top: 2px;
  transition: all 0.1s ease-in-out;
}

input[switch]:checked + label {
  background-color: #3b5de7;
}

input[switch]:checked + label {
  background-color: #3b5de7;
}

input[switch]:checked + label:before {
  color: #fff;
  content: attr(data-on-label);
  right: auto;
  left: 3px;
}

input[switch]:checked + label:after {
  left: 33px;
  background-color: #273344;
}

input[switch=bool] + label {
  background-color: #FF715B;
}

input[switch=bool] + label:before,
input[switch=bool]:checked + label:before,
input[switch=default]:checked + label:before {
  color: #fff;
}

input[switch=bool]:checked + label {
  background-color: #45cb85;
}

input[switch=default]:checked + label {
  background-color: #a2a2a2;
}

input[switch=primary]:checked + label {
  background-color: #3b5de7;
}

input[switch=success]:checked + label {
  background-color: #45cb85;
}

input[switch=info]:checked + label {
  background-color: #0CAADC;
}

input[switch=warning]:checked + label {
  background-color: #EEB902;
}

input[switch=danger]:checked + label {
  background-color: #FF715B;
}

input[switch=dark]:checked + label {
  background-color: #eff2f7;
}

.square-switch {
  margin-right: 7px;
}

.square-switch input[switch] + label,
.square-switch input[switch] + label:after {
  border-radius: 0px;
}

.datepicker {
  border: 1px solid #212529;
  padding: 8px;
  z-index: 999 !important;
}

.datepicker table tr th {
  font-weight: 500;
}

.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td .active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.selected,
.datepicker table tr td.selected:hover,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected.disabled:hover {
  background-color: #3b5de7 !important;
  background-image: none;
  box-shadow: none;
  color: #fff !important;
}

.datepicker table tr td.day.focused,
.datepicker table tr td.day:hover,
.datepicker table tr td span.focused,
.datepicker table tr td span:hover {
  background: #273344;
}

.datepicker table tr td.new,
.datepicker table tr td.old,
.datepicker table tr td span.new,
.datepicker table tr td span.old {
  color: #7e8396;
  opacity: 0.6;
}

.datepicker table tr td.range,
.datepicker table tr td.range.disabled,
.datepicker table tr td.range.disabled:hover,
.datepicker table tr td.range:hover {
  background-color: #364458;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > td {
  padding: 7px;
}

.tox .tox-menubar,
.tox .tox-edit-area__iframe,
.tox .tox-statusbar {
  background-color: #1e2938 !important;
}

.tox .tox-mbtn {
  color: #e0e0e0 !important;
}

.tox .tox-mbtn:hover:not(:disabled):not(.tox-mbtn--active) {
  background-color: #364458 !important;
}

.tox .tox-tbtn:hover {
  background-color: #364458 !important;
}

.tox .tox-toolbar,
.tox .tox-toolbar__overflow,
.tox .tox-toolbar__primary {
  background-color: #1e2938 !important;
}

.tox .tox-tbtn {
  color: #e0e0e0 !important;
}

.tox .tox-tbtn svg {
  fill: #e0e0e0 !important;
}

.tox .tox-edit-area__iframe {
  background-color: #1e2938 !important;
}

.tox .tox-statusbar a,
.tox .tox-statusbar__path-item,
.tox .tox-statusbar__wordcount {
  color: #e0e0e0 !important;
}

@font-face {
  font-family: "summernote";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/summernote.eot");
  src: url("/fonts/summernote.eot?#iefix") format("embedded-opentype"), url("/fonts/summernote.woff?") format("woff"), url("/fonts/summernote.ttf?") format("truetype");
}

.note-editor.note-frame {
  border: 1px solid #364458;
  box-shadow: none;
  margin: 0;
}

.note-editor.note-frame .note-statusbar {
  background-color: #364458;
  border-top: 1px solid #273344;
}

.note-editor.note-frame .note-editing-area .note-editable,
.note-editor.note-frame .note-editing-area .note-codable {
  border: none;
  color: #7e8396;
  background-color: transparent;
}

.note-editor .note-toolbar {
  padding: 0px 0px 5px 0px;
}

.note-btn-group .note-btn {
  background-color: #364458 !important;
  border-color: #364458 !important;
}

.note-status-output {
  display: none;
}

.note-editable p:last-of-type {
  margin-bottom: 0;
}

.note-popover .popover-content .note-color .dropdown-menu,
.card-header.note-toolbar .note-color .dropdown-menu {
  min-width: 344px;
}

.note-popover {
  border-color: #364458;
}

.note-popover .popover-content,
.card-header.note-toolbar {
  background-color: #364458;
}

/* Dropzone */

.dropzone {
  min-height: 230px;
  border: 2px dashed #7f879c;
  background: #1e2938;
  border-radius: 6px;
}

.dropzone .dz-message {
  font-size: 24px;
}

.form-wizard-wrapper label {
  font-size: 14px;
  text-align: right;
}

.wizard ul {
  list-style: none !important;
  padding: 0;
  margin: 0;
}

.wizard > .steps > ul > li {
  width: 25%;
}

.wizard > .steps .current-info {
  position: absolute;
  left: -999em;
}

.wizard > .steps a,
.wizard > .steps a:active,
.wizard > .steps a:hover {
  margin: 3px;
  padding: 15px;
  display: block;
  width: auto;
  border-radius: 5px;
}

.wizard > .steps .current a,
.wizard > .steps .current a:active,
.wizard > .steps .current a:hover {
  background-color: #3b5de7;
  color: #fff;
}

.wizard > .steps .current a .number,
.wizard > .steps .current a:active .number,
.wizard > .steps .current a:hover .number {
  border: 2px solid #fff;
}

.wizard > .steps .disabled a,
.wizard > .steps .disabled a:active,
.wizard > .steps .disabled a:hover,
.wizard > .steps .done a,
.wizard > .steps .done a:active,
.wizard > .steps .done a:hover {
  background-color: #c3cef8;
  color: #3b5de7;
}

.wizard > .steps .disabled a .number,
.wizard > .steps .disabled a:active .number,
.wizard > .steps .disabled a:hover .number,
.wizard > .steps .done a .number,
.wizard > .steps .done a:active .number,
.wizard > .steps .done a:hover .number {
  border-color: #3b5de7;
}

.wizard > .steps .number {
  font-size: 16px;
  padding: 5px;
  border-radius: 50%;
  border: 2px solid #fff;
  width: 38px;
  display: inline-block;
  font-weight: 500;
  text-align: center;
  margin-right: 10px;
  background-color: rgba(59, 93, 231, 0.25);
}

.wizard > .content {
  background-color: transparent;
  margin: 0 5px;
  border-radius: 0;
  min-height: 150px;
}

.wizard > .content > .title {
  position: absolute;
  left: -999em;
}

.wizard > .content > .body {
  width: 100%;
  height: 100%;
  padding: 30px 0 0;
  position: static;
}

.wizard > .actions {
  position: relative;
  display: block;
  text-align: right;
  width: 100%;
}

.wizard > .actions > ul {
  display: inline-block;
  text-align: right;
}

.wizard > .actions > ul > li {
  display: block;
  margin: 0 0.5em;
}

.wizard > .actions a,
.wizard > .actions a:active,
.wizard > .actions a:hover {
  background-color: #3b5de7;
  border-radius: 4px;
  padding: 8px 15px;
  color: #fff;
}

.wizard > .actions .disabled a,
.wizard > .actions .disabled a:active,
.wizard > .actions .disabled a:hover {
  opacity: 0.65;
  background-color: #3b5de7;
  color: #fff;
  cursor: not-allowed;
}

.wizard > .steps > ul > li,
.wizard > .actions > ul > li {
  float: left;
}

@media (max-width: 768px) {
  .wizard > .steps > ul > li {
    width: 50%;
  }

  .form-wizard-wrapper label {
    text-align: left;
  }
}

@media (max-width: 520px) {
  .wizard > .steps > ul > li {
    width: 100%;
  }
}

.table-rep-plugin .btn-toolbar {
  display: block;
}

.table-rep-plugin .table-responsive {
  border: none !important;
}

.table-rep-plugin .btn-group .btn-default {
  background-color: #969aa5;
  color: #364458;
  border: 1px solid #969aa5;
}

.table-rep-plugin .btn-group .btn-default.btn-primary {
  background-color: #3b5de7;
  border-color: #3b5de7;
  color: #fff;
  box-shadow: 0 0 0 2px rgba(59, 93, 231, 0.5);
}

.table-rep-plugin .btn-group.pull-right {
  float: right;
}

.table-rep-plugin .btn-group.pull-right .dropdown-menu {
  right: 0;
  transform: none !important;
  top: 100% !important;
}

.table-rep-plugin tbody th {
  font-size: 14px;
  font-weight: normal;
}

.table-rep-plugin .checkbox-row {
  padding-left: 40px;
}

.table-rep-plugin .checkbox-row label {
  display: inline-block;
  padding-left: 5px;
  position: relative;
}

.table-rep-plugin .checkbox-row label::before {
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #364458;
  content: "";
  display: inline-block;
  height: 17px;
  left: 0;
  margin-left: -20px;
  position: absolute;
  transition: 0.3s ease-in-out;
  width: 17px;
  outline: none !important;
}

.table-rep-plugin .checkbox-row label::after {
  color: #273344;
  display: inline-block;
  font-size: 11px;
  height: 16px;
  left: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  position: absolute;
  top: -1px;
  width: 16px;
}

.table-rep-plugin .checkbox-row input[type=checkbox] {
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  outline: none !important;
}

.table-rep-plugin .checkbox-row input[type=checkbox]:disabled + label {
  opacity: 0.65;
}

.table-rep-plugin .checkbox-row input[type=checkbox]:focus + label::before {
  outline-offset: -2px;
  outline: none;
}

.table-rep-plugin .checkbox-row input[type=checkbox]:checked + label::after {
  content: "\F00C";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.table-rep-plugin .checkbox-row input[type=checkbox]:disabled + label::before {
  background-color: #212529;
  cursor: not-allowed;
}

.table-rep-plugin .checkbox-row input[type=checkbox]:checked + label::before {
  background-color: #3b5de7;
  border-color: #3b5de7;
}

.table-rep-plugin .checkbox-row input[type=checkbox]:checked + label::after {
  color: #fff;
}

.table-rep-plugin .fixed-solution .sticky-table-header {
  background-color: #3b5de7;
}

.table-rep-plugin .fixed-solution .sticky-table-header table {
  color: #fff;
}

@media (max-width: 991.98px) {
  .fixed-solution .sticky-table-header {
    top: 70px !important;
    background-color: #3b5de7;
  }

  .fixed-solution .sticky-table-header table {
    color: #fff;
  }
}

.table-editable .editable-input .form-control {
  height: 2rem;
}

.table-editable a.editable {
  color: #7f879c;
}

.table-editable .editable-buttons .btn.btn-sm {
  font-size: 12px;
}

.table-editable tbody td.focus {
  box-shadow: inset 0 0 1px 1px #3b5de7 !important;
}

.dt-autofill-list {
  border: none !important;
  background-color: #1e2938 !important;
}

.dt-autofill-list .dt-autofill-question,
.dt-autofill-list .dt-autofill-button {
  border-bottom-color: #364458 !important;
}

.dt-autofill-list ul li:hover {
  background-color: #364458 !important;
}

.glyphicon {
  display: inline-block;
  font-family: "Material Design Icons";
  font-size: inherit;
  font-weight: 600;
  font-style: inherit;
}

.glyphicon-ok:before {
  content: "\F12C";
}

.glyphicon-remove:before {
  content: "\F156";
}

.editable-input {
  display: inline-block;
  margin-right: 10px;
}

.editable-buttons {
  display: inline-block;
}

.apex-charts {
  min-height: 10px !important;
}

.apex-charts text {
  font-family: "SF UI Text", sans-serif !important;
  fill: #7e8396;
}

.apex-charts .apexcharts-canvas {
  margin: 0 auto;
}

.apexcharts-tooltip-title,
.apexcharts-tooltip-text {
  font-family: "SF UI Text", sans-serif !important;
}

.apexcharts-legend-series {
  font-weight: 500;
}

.apexcharts-gridline {
  pointer-events: none;
  stroke: #364458;
}

.apexcharts-legend-text {
  color: #969aa5 !important;
  font-family: "SF UI Text", sans-serif !important;
  font-size: 13px !important;
}

.apexcharts-pie-label {
  fill: #fff !important;
}

.apexcharts-yaxis text,
.apexcharts-xaxis text {
  font-family: "SF UI Text", sans-serif !important;
  fill: #7e8396;
}

/* Flot chart */

.flot-charts-height {
  height: 320px;
}

.flotTip {
  padding: 8px 12px;
  background-color: rgba(239, 242, 247, 0.9);
  z-index: 100;
  color: #212529;
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  border-radius: 4px;
}

.legendLabel {
  color: #7e8396;
}

.jqstooltip {
  box-sizing: content-box;
  width: auto !important;
  height: auto !important;
  background-color: #eff2f7 !important;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  padding: 5px 10px !important;
  border-radius: 3px;
  border-color: #f8f9fa !important;
}

.jqsfield {
  color: #273344 !important;
  font-size: 12px !important;
  line-height: 18px !important;
  font-family: "SF UI Text", sans-serif !important;
  font-weight: 500 !important;
}

.gmaps,
.gmaps-panaroma {
  height: 300px;
  background: #212529;
  border-radius: 3px;
}

.gmaps-overlay {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  background: #3b5de7;
  border-radius: 4px;
  padding: 10px 20px;
}

.gmaps-overlay_arrow {
  left: 50%;
  margin-left: -16px;
  width: 0;
  height: 0;
  position: absolute;
}

.gmaps-overlay_arrow.above {
  bottom: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid #3b5de7;
}

.gmaps-overlay_arrow.below {
  top: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #3b5de7;
}

.jvectormap-label {
  border: none;
  background: #eff2f7;
  color: #212529;
  font-family: "SF UI Text", sans-serif;
  font-size: 0.875rem;
  padding: 5px 8px;
}

.home-btn {
  position: absolute;
  top: 15px;
  right: 25px;
}

.bg-login {
  background-image: url("/images/login-img.png");
  padding: 60px 0px;
  background-size: cover;
  background-position: center center;
  position: relative;
  border-radius: 0px 0px 50% 50%;
}

.bg-login-overlay {
  position: absolute;
  background: linear-gradient(to right, #273c92, #293e92);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 50% 50%;
  opacity: 0.8;
}

.account-pages .logo-admin {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0px auto;
  width: 74px;
  height: 74px;
  line-height: 74px;
  background: #1e2938;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
}

.error-page {
  text-transform: uppercase;
  font-size: 60px;
  line-height: 0.7;
  position: relative;
}

/* ==============
  Email
===================*/

.email-leftbar {
  width: 236px;
  float: left;
  padding: 20px;
  border-radius: 5px;
}

.email-rightbar {
  margin-left: 260px;
}

.chat-user-box p.user-title {
  color: #eff2f7;
  font-weight: 500;
}

.chat-user-box p {
  font-size: 12px;
}

@media (max-width: 767px) {
  .email-leftbar {
    float: none;
    width: 100%;
  }

  .email-rightbar {
    margin: 0;
  }
}

.mail-list a {
  display: block;
  color: #969aa5;
  line-height: 24px;
  padding: 8px 5px;
}

.mail-list a.active {
  color: #FF715B;
  font-weight: 500;
}

.message-list {
  display: block;
  padding-left: 0;
}

.message-list li {
  position: relative;
  display: block;
  height: 50px;
  line-height: 50px;
  cursor: default;
  transition-duration: 0.3s;
}

.message-list li a {
  color: #969aa5;
}

.message-list li:hover {
  background: #364458;
  transition-duration: 0.05s;
}

.message-list li .col-mail {
  float: left;
  position: relative;
}

.message-list li .col-mail-1 {
  width: 320px;
}

.message-list li .col-mail-1 .star-toggle,
.message-list li .col-mail-1 .checkbox-wrapper-mail,
.message-list li .col-mail-1 .dot {
  display: block;
  float: left;
}

.message-list li .col-mail-1 .dot {
  border: 4px solid transparent;
  border-radius: 100px;
  margin: 22px 26px 0;
  height: 0;
  width: 0;
  line-height: 0;
  font-size: 0;
}

.message-list li .col-mail-1 .checkbox-wrapper-mail {
  margin: 15px 10px 0 20px;
}

.message-list li .col-mail-1 .star-toggle {
  margin-top: 18px;
  margin-left: 5px;
}

.message-list li .col-mail-1 .title {
  position: absolute;
  top: 0;
  left: 110px;
  right: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 0;
}

.message-list li .col-mail-2 {
  position: absolute;
  top: 0;
  left: 320px;
  right: 0;
  bottom: 0;
}

.message-list li .col-mail-2 .subject,
.message-list li .col-mail-2 .date {
  position: absolute;
  top: 0;
}

.message-list li .col-mail-2 .subject {
  left: 0;
  right: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.message-list li .col-mail-2 .date {
  right: 0;
  width: 170px;
  padding-left: 80px;
}

.message-list li.active,
.message-list li.active:hover {
  box-shadow: inset 3px 0 0 #3b5de7;
}

.message-list li.unread {
  background-color: #364458;
  font-weight: 500;
  color: #dee4ef;
}

.message-list li.unread a {
  color: #dee4ef;
  font-weight: 500;
}

.message-list .checkbox-wrapper-mail {
  cursor: pointer;
  height: 20px;
  width: 20px;
  position: relative;
  display: inline-block;
  box-shadow: inset 0 0 0 1px #7f879c;
  border-radius: 1px;
}

.message-list .checkbox-wrapper-mail input {
  opacity: 0;
  cursor: pointer;
}

.message-list .checkbox-wrapper-mail input:checked ~ label {
  opacity: 1;
}

.message-list .checkbox-wrapper-mail label {
  position: absolute;
  height: 20px;
  width: 20px;
  left: 0;
  cursor: pointer;
  opacity: 0;
  margin-bottom: 0;
  transition-duration: 0.05s;
  top: 0;
}

.message-list .checkbox-wrapper-mail label:before {
  content: "\F12C";
  font-family: "Material Design Icons";
  top: 0;
  height: 20px;
  color: #dee4ef;
  width: 20px;
  position: absolute;
  margin-top: -16px;
  left: 4px;
  font-size: 13px;
}

@media (max-width: 575.98px) {
  .message-list li .col-mail-1 {
    width: 200px;
  }
}

.counter-number {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.counter-number span {
  font-size: 16px;
  font-weight: 400;
  display: block;
  padding-top: 5px;
}

.coming-box {
  float: left;
  width: 25%;
}

/************** Horizontal timeline **************/

.timeline-box {
  padding: 0px !important;
  position: relative;
}

.timeline-box .item-lable {
  width: 100px;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  font-size: 12px;
  position: relative;
  top: -20px;
  z-index: 1;
}

.timeline-box .timeline-spacing {
  margin-bottom: 70px;
}

.timeline-box .dot {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  margin: 0px auto;
  position: relative;
  top: -6px;
  z-index: 1;
}

.timeline-box .timeline-line {
  width: 100%;
  position: relative;
  height: 3px;
  border-top: 3px solid #273344;
}

.timeline-box .vertical-line {
  position: relative;
  width: 100%;
}

.timeline-box .vertical-line .wrapper-line {
  width: 2px;
  height: 50px;
  background-color: #273344;
  margin: 0 auto;
}

.timeline-count .row:first-child .timeline-box:first-child .timeline-line:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background: #273344;
  position: absolute;
  top: -6px;
}

.timeline-count .row:last-child .timeline-box:last-child .timeline-line,
.timeline-count .row:first-child .timeline-box:first-child .timeline-line {
  border-top: 3px solid #273344 !important;
}

.timeline-count .row:last-child .timeline-box:last-child:before {
  content: unset !important;
}

.timeline-count .row:nth-child(odd) .timeline-box:last-child:before {
  content: "";
  position: absolute;
  right: 0;
  top: 30px;
  width: 100%;
  height: 100%;
  border-right: 3px solid #273344;
}

.timeline-count .row:nth-child(even) .timeline-box:last-child:before {
  content: "";
  position: absolute;
  right: 0;
  top: 30px;
  width: 100%;
  height: 100%;
  border-left: 3px solid #273344;
}

.timeline-count .row:nth-child(even) {
  direction: rtl;
}

.plan-box .plan-btn {
  position: relative;
}

.plan-box .plan-btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #364458;
  left: 0px;
  right: 0px;
  top: 12px;
}

