#about {
    color: #757575;
    background: white;
}

#about .banner {
    height: 740px;
    width: 100%;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

#about .banner:before {
    content: "";
    position: absolute;
    top: 0;
    left: -55%;
    bottom: -2px;
    width: 210%;
    background-image: linear-gradient(124deg, #ef5a25, rgb(210 123 1)),
        linear-gradient(106deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0.69));
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    border-top: 0;
}

#about .banner .banner-text {
    position: absolute;
    width: 250px;
    color: white;
    top: 30%;
    left: 20%;
}

#about .banner img {
    position: absolute;
    bottom: 0px;
    left: 25%;
}

#about .banner-middle {
    background: url("../../images/banners/about-middle.png");
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .banner-middle p {
    width: 70%;
    text-align: center;
}

@media screen and (max-width: 720px) {
    #about .banner {
        height: 320px;
    }

    #about .banner:before {
        left: -75%;
        width: 250%;
    }

    #about .banner .banner-text {
        display: none;
    }

    #about .banner img {
        width: 300px;
        left: 7%;
    }

    #about .banner-middle {
        height: 300px;
    }

    #about .content {
        margin-top: 10px !important;
        padding-top: 10px !important;
    }

    #about .font-size-30 {
        font-size: 20px;
    }

    #about .content--text p {
        font-size: 15px;
    }
}
