#contact {
    color: white;
    background: -webkit-linear-gradient(
        311deg,
        rgb(237, 90, 46) 0%,
        rgb(237, 113, 43) 100%
    );
    background: -o-linear-gradient(
        311deg,
        rgb(237, 90, 46) 0%,
        rgb(237, 113, 43) 100%
    );
    background: -ms-linear-gradient(
        311deg,
        rgb(237, 90, 46) 0%,
        rgb(237, 113, 43) 100%
    );
    background: -moz-linear-gradient(
        311deg,
        rgb(237, 90, 46) 0%,
        rgb(237, 113, 43) 100%
    );
    background: linear-gradient(
        139deg,
        rgb(237, 90, 46) 0%,
        rgb(237, 113, 43) 100%
    );
}

#contact .banner {
    background: url("../../images/banners/contact.jpeg");
    height: 740px;
    width: 100%;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

#contact .banner .banner-form {
    width: 45%;
    margin-left: 10%;
    margin-top: 125px;
}

#contact .banner .banner-form .btn-send {
    font-size: 14px;
    color: #015f7b;
    padding: 7.5px 40px;
    background: white;
    float: right;
    margin-top: 10px;
}

#contact .banner img {
    position: absolute;
    right: 10%;
    bottom: -10px;
}

#contact .banner .banner-text {
    position: absolute;
    width: 250px;
    color: white;
    top: 30%;
    left: 20%;
}

#contact .banner-middle {
    background: url("../../images/banners/contact-middle.png");
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact .banner-middle p {
    width: 70%;
    text-align: center;
}

@media screen and (max-width: 768px) {
    #contact .banner {
        height: auto;
    }

    #contact .banner img {
        width: 150px;
        margin-left: 15%;
        position: relative;
        margin-top: -30px;
    }

    #contact .banner .banner-form {
        width: 70%;
        margin: 100px auto;
        margin-bottom: 0;
    }

    #contact .banner .banner-form .font-size-35 {
        font-size: 20px !important;
        margin-bottom: 0;
    }

    #contact .banner .banner-form .font-size-20 {
        font-size: 12px !important;
    }

    #contact .banner .banner-form label {
        font-size: 12px;
    }

    #contact .center-mobile {
        display: flex;
        justify-content: center;
    }
}
