@font-face {
    font-family: "Avenir", sans-serif;
    src: url("../fonts/AvenirLTStd-Roman.otf");
}

#home {
    font-family: "Avenir";
}

#home .banner {
    height: 880px;
    width: 100%;
    position: absolute;
    top: 0;
    background-size: cover;
    margin-top: -1px;
}

#home .packet {
    background: url("/images/banners/banner-home-packet.svg") no-repeat;
    height: 740px;
    width: 100%;
    margin-top: 990px;
    background-size: cover;
}

#home .contact {
    position: relative;
}

#home .contact .background {
    background: url("/images/banners/banner-home-contact.svg");
    height: 670px;
    width: 100%;
    position: absolute;
    background-size: cover;
    bottom: 0;
    z-index: -1;
}

#home .contact .container {
    display: flex;
    justify-content: space-between;
}

#home .contact .container .form {
    padding-top: 55px;
    width: 43%;
    color: white;
    position: absolute;
    right: 10%;
}

#home .contact--title {
    text-transform: uppercase;
    letter-spacing: 3px;
}

#home .contact .container .form .btn-send {
    font-size: 14px;
    color: #015f7b;
    padding: 7.5px 40px;
    float: right;
    margin-top: 10px;
    background: linear-gradient(119deg, #ff8e00 0%, #ff7800 100%);
    color: white;
    width: 100%;
}

#home .contact--form {
    background: white;
    padding: 42px 20px 30px 20px;
    border-radius: 12px;
    position: relative;
}

#home .contact--form__border-top {
    background: linear-gradient(119deg, #ff8e00 0%, #ff7800 100%);
    height: 12px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

#home .mitra {
    padding: 50px 10%;
    background: #f2f4f5;
}

#home .mitra .content--title {
    width: 30%;
    margin: 0;
    padding: 0;
}

#home .mitra .content--title p {
    margin: 0;
}

#home .mitra .content--title .content--title--sub {
    text-transform: uppercase;
    letter-spacing: 3px;
}

#home .mitra .content--items {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#home .mitra .content--items img {
    margin-left: 15px;
}

#home .plan .show-more {
    position: absolute;
    bottom: 0;
    background: #ec592d;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

/* Start Style Paket */
.packet-steps {
    position: relative;
    margin-top: 30px;
}

.packet-steps-content {
    display: flex;
    justify-content: center;
    position: relative;
}

.packet-steps-content__story,
.packet-steps-content__buy {
    background: white;
    width: 340px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
    border-radius: 12px;
    position: absolute;
    left: 10%;
}

.packet-steps-content__buy {
    width: 305px;
}

.packet-steps-content__buy {
    left: auto;
    right: 10%;
}

.packet-steps-content__story--border-top,
.packet-steps-content__buy--border-top {
    height: 11px;
    width: 100%;
    background: linear-gradient(119deg, #ff8e00 0%, #ff7800 100%) !important;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    position: absolute;
}

.packet-steps-content__story hr,
.packet-steps-content__buy hr {
    margin: 0;
}

.packet-steps-content__story--title {
    display: flex;
    justify-content: space-between;
}

.packet-steps-content__story--title__icon {
    background: #fff7f5;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.packet-steps-content__story--title__text {
    width: 78%;
}

.packet-steps-content__story--title,
.packet-steps-content__story--content,
.packet-steps-content__buy--title,
.packet-steps-content__buy--content {
    padding: 20px;
}

.packet-steps-content__story--title,
.packet-steps-content__buy--title {
    padding-top: 20px;
    padding-bottom: 10px;
}

.packet-steps-content__story--content,
.packet-steps-content__buy--content {
    padding-top: 15px;
}

.packet-steps-content__buy--content__button {
    background: linear-gradient(119deg, #ff8e00 0%, #ff7800 100%) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 250px;
    padding: 10px 20px;
    margin-top: 0px;
    color: white;
}

.packet-steps-content__buy--content__button p {
    margin-right: 15px;
}

.packet-steps-content__buy--content__button img {
    width: 20px;
}

.packet-steps-control {
    margin-top: -50px;
}

.packet-steps-icons {
    width: 610px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    z-index: 9;
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    margin: auto;
}

.packet-steps-icon {
    border: 1px solid #f15922;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.packet-steps-icon img {
    transform: scale(0.7);
}

.packet-steps-icon-active {
    background: #f15922;
    height: 66px;
    width: 66px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.packet-steps-icon-active img {
    transform: scale(1);
}

.packet-steps-icon__text {
    position: absolute;
    top: 75px;
    white-space: nowrap;
}

.packet-steps-line {
    width: 610px;
    margin: 0 auto;
    position: relative;
}

.packet-steps-line__nonactive {
    width: 100%;
    height: 6px;
    background: white;
    height: 6px;
    border: 1px solid #f15922;
}

.packet-steps-line__active {
    width: 25%;
    height: 10px;
    background: #f15922;
    border-radius: 30px;
    position: absolute;
    top: -2px;
}

/* Finish Style Paket */

/* Planner */
#home .plan {
    position: relative;
}

.plan--background {
    background: #067f9b;
    height: 420px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -9;
}

.plan--content {
    padding-top: 50px;
}

#home .plan .content--tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
    margin-top: 35px;
    background: white;
    color: #4b5563;
    width: 640px;
    margin: 0 auto;
    border-radius: 4px;
    margin-bottom: 25px;
    padding: 10px;
}

#home .plan .card-packet-planner {
    height: 350px;
}

#home .plan .content--tabs .content--tab {
    margin: 0 25px;
    cursor: pointer;
}

.content--tab--active {
    background: linear-gradient(119deg, #ff8e00 0%, #ff7800 100%) !important;
    color: white !important;
    padding: 10px 30px;
    border-radius: 8px;
    margin: 0 !important;
}

.content--tab--active p {
    color: white !important;
}

#home .plan .packet-item {
    display: inline-block;
}

#home .plan .content--tabs .content--tab p {
    margin-bottom: 10px;
}

#home .plan .content--tabs .content--tab hr {
    height: 3px;
    background: #ef5a25;
    border: none;
    width: 80%;
    margin: 0 auto;
    opacity: 1;
}

#home .plan .hover-show {
    padding: 20px;
    display: none;
    opacity: 0;
    /* position: absolute; */
    height: 256px;
}

#home .plan .content-show-mobile {
    width: 100.8%;
    position: absolute;
    background: #ec5a2c;
    left: -1px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 20px;
}

#home .plan .hover-show p,
#home .plan .content-show-mobile p {
    text-align: left;
    font-size: 20px;
}

#home .plan .hover-show ul,
#home .plan .content-show-mobile ul {
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

#home .plan .hover-show ul li,
#home .plan .content-show-mobile ul li {
    list-style: none;
    text-align: left;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

#home .plan .hover-show ul li p,
#home .plan .content-show-mobile ul li p {
    width: 88%;
    font-size: 14px;
}

#home .plan .hover-show ul li img,
#home .plan .content-show-mobile ul li img {
    width: 20px;
}

#home .plan .content-show-mobile .btn-card {
    margin: 0 auto;
    margin-top: 30px;
}

#home .card-reflect {
    -webkit-box-reflect: below 12px -webkit-linear-gradient(bottom, rgba(
                    255,
                    255,
                    255,
                    0.3
                )
                0%, transparent 17%, transparent 100%);
}

#home .content--text {
    display: flex;
    justify-content: center;
}

#home .content--text .card {
    background: white;
    border-radius: 16px;
    color: #026279 !important;
    display: flex;
    text-align: center;
    width: 222px;
    height: 295px;
    margin-top: 25px;
    margin: 0 25px;
}

#home .content--text .card-packet {
    height: auto;
    width: 455px;
    position: relative;
    background: #f5f5f5;
}

.card-packet--border-top {
    background: linear-gradient(119deg, #ff8e00 0%, #ff7800 100%);
    height: 12px;
    width: 100%;
    position: absolute;
    top: -1px;
    left: 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card-packet--badge {
    background: #f15922;
    color: white;
    padding: 5px 20px;
    border-radius: 30px;
    position: absolute;
    top: 5px;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}

#home .content--text .card img {
    margin-bottom: 30px;
}

#home .content--text .card .btn-card {
    color: #006884;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    border-radius: 10px;
    font-family: "Avenir LT Std", sans-serif;
    background: linear-gradient(119deg, #ff8e00 0%, #ff7800 100%) !important;
    color: white !important;
    padding: 5px 30px;
    border-radius: 4px;
    margin: 30px auto 0px auto !important;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

#home .content--text .card .btn-card img {
    width: 20px;
    height: 20px;
    margin: 0;
    margin-left: 20px;
}

#home .content--text .card-packet img {
    margin-bottom: 0px !important;
}

#home .content--text .card-packet p {
    margin: 0;
    padding: 0;
}

#home .content--text .card-packet .big-size {
    font-size: 18px;
}

.card-packet--items {
    background: #f5f5f5;
    padding: 20px;
    margin-top: 310px;
    margin-bottom: 60px;
}

.card-packet--content {
    padding: 0px 20px 10px 20px;
    background: white;
    padding-top: 40px;
    height: 300px;
    top: 0;
    position: absolute;
    width: 100%;
    top: 11px;
}

.card-packet--content__premi {
    text-align: left;
    border-left: 3px solid #f7941d;
    padding-left: 15px;
    margin-top: 10px;
}

.card-packet--items ul {
    margin: 0;
    padding: 0;
}

.card-packet--items li {
    list-style: none;
    display: flex;
    margin-bottom: 10px;
}

.card-packet--items li:last-child {
    margin-bottom: 0;
}

.card-packet--items li img {
    margin-right: 15px;
    width: 22px;
}

.card-packet--items li p {
    width: 80%;
    text-align: left;
}

/* Panduan */
#home .panduan {
    margin-top: 175px;
    position: relative;
}

#home .panduan .btn-download-panduan {
    background: #006884;
    border-radius: 16px;
    color: white;
    border: none;
    padding: 10px 30px;
    font-size: 20px;
    display: flex;
    margin: 0 auto;
    margin-top: 25px;
}

#home .panduan .btn-download-panduan img {
    margin-right: 20px;
}

.panduan .arrows {
    position: relative;
}

.panduan .arrows .arrow {
    position: absolute;
    top: 225px;
    cursor: pointer;
}

.panduan .arrows .arrow-left {
    left: 30px;
}

.panduan .arrows .arrow-right {
    right: 30px;
}

/* Slider Panduan */
#home .slider--panduan {
    width: 100%;
    overflow: hidden;
}

#home .slider--panduan .slider--scroll {
    width: 99999999px;
    margin-left: -100px;
}

#home .slider--panduan .slider--scroll .slider--item {
    width: 465px;
    margin: 0 10px;
    display: inline-block;
    height: 250px;
    /* transition: all ease-in-out 0.5s; */
}

#home .slider--panduan .slider--scroll .slider--item__active {
    width: 644px !important;
    height: 300px !important;
    /* transition: all ease-in-out 0.5s; */
}

#home .slider--panduan .slider--scroll .slider--item iframe {
    border-radius: 20px;
}

#home .slider--panduan .slider--scroll .slider--item:first-child {
    margin-left: 0;
}

#home .slider--panduan .slider--scroll .slider--item iframe {
    width: 100%;
    height: 100%;
}

/* Banner */
.banner .banner-container {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.banner .banner-scroll {
    width: 999999px;
    display: flex;
}

.banner .banner-content {
    display: inline-block;
    width: 800px;
    padding: 80px 0px;
}

.banner .banner-content .banner-image {
}

.banner .banner-content .banner-text .title {
    font-size: 35px;
}

.banner .banner-text {
    color: white;
    position: absolute;
    right: 5%;
    width: 45%;
    top: 30%;
}

.banner-slide-point {
    position: absolute;
    left: 50%;
    top: 75%;
    display: flex;
    align-items: center;
}

.banner-slide-piont__line {
    position: relative;
    margin: 0 20px;
}

.banner-slide-piont__line--available {
    width: 260px;
    height: 3px;
    background: #f7941d;
}

.banner-slide-piont__line--active {
    height: 6px;
    width: 30%;
    background: #ff6727;
    position: absolute;
    top: -2px;
}

.banner-slide-point p {
    font-size: 18px;
    color: #f15922;
    letter-spacing: 5px;
    margin: 0;
}

.banner .banner-item {
    display: flex;
    justify-content: space-between;
}

.banner .banner-text .category {
    background: #006884;
    font-size: 65px !important;
    padding: 10px 20px;
    border-radius: 16px;
    text-align: center;
}

.banner .banner-text p {
    letter-spacing: 0;
    line-height: 1.2;
}

.banner .banner-text b {
    font-size: 70px;
    color: #f15922;
    font-weight: normal;
}

.banner .banner-text .btn-show-more {
    background: linear-gradient(119deg, #ff8e00 0%, #ff7800 100%) !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    width: 250px;
    padding: 10px 20px;
    margin-top: 40px;
}

.banner .banner-text .btn-show-more p {
    margin: 0;
    padding: 0;
    color: white;
}

.banner .arrows {
    position: relative;
    z-index: 9;
}

.banner .arrows .arrow {
    position: absolute;
    top: 350px;
    cursor: pointer;
}

.banner .arrows .arrow-left {
    left: 30px;
}

.banner .arrows .arrow-right {
    right: 30px;
}

.banner .bullets {
    position: absolute;
    bottom: 110px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.banner .bullets .bullet {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: white;
    margin: 0 5px;
}

.banner .bullets .bullet-active {
    width: 20px;
    border-radius: 10px;
}

/* Plan Packet */
.packet-container {
    width: 100%;
}

.packet-container .packet-scroll {
    width: 99999999px;
    display: flex;
}

/* Testimonial */
.testimonial {
    position: relative;
    margin-top: 150px;
}

.testimonial .arrows {
    position: absolute;
    width: 100%;
    top: 300px;
    padding: 0 25px;
}

.testimonial .arrow {
    display: inline-block;
    cursor: pointer;
}

.testimonial .arrow-right {
    float: right;
}

.testimonial--container {
    width: 100%;
    overflow: hidden;
    margin-top: 50px;
}

.testimonial--scroll {
    width: 9999999px;
}

.testimonial--content {
    width: 1444px;
    display: inline-block;
}

.testimonial--item {
    width: 677px;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.testimonial--item__text {
    background: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: -3px 2px 44px 3px rgba(247, 148, 30, 0.75);
    -webkit-box-shadow: -3px 2px 44px 3px rgba(247, 148, 30, 0.75);
    -moz-box-shadow: -3px 2px 44px 3px rgba(247, 148, 30, 0.75);
}

.testimonial--item__text hr {
    background: #006884;
    width: 50px;
    height: 3px;
    border: none;
    display: inline-block;
}

/* Payment */
.home--payment {
    padding: 20px 0px;
    align-items: center;
    display: flex;
}

.home--payment .logo img {
    width: 69px;
}

.home--payment .payments {
    width: 80%;
}

.home--payment .payments img {
    width: 80%;
}

/* Start Benefit Section */

#home .keunggulan {
    margin-top: 100px;
    background: url("/images/banners/banners-benefit.png");
    padding: 150px 0;
    background-size: cover;
}

#home .keunggulan .content--text {
    margin-top: 40px !important;
}

.keunggulan .card {
    background: #067f9b !important;
    width: 320px !important;
    text-align: left !important;
    height: auto !important;
    padding: 50px 20px 20px 20px;
    border-radius: 11px;
    padding-bottom: 75px;
}

.keunggulan .card p {
    color: white !important;
}

.keunggulan .card ul {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    padding-left: 17.5px;
}

.keunggulan .card ul li {
    display: flex;
    justify-content: space-between;
}

.keunggulan .card ul li p {
    width: 95%;
    margin: 0;
}

.keunggulan .card ul li::before {
    content: "\2022";
    color: white;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.keunggulan .card .image--card img {
    width: 60px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 0;
}

.keunggulan .card .benefit-button {
    background: transparent !important;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    position: absolute;
    bottom: 20px;
    width: 88%;
}

.keunggulan .card .benefit-button img {
    margin: 0 !important;
    width: 20px;
    margin-left: 10px !important;
}

/* Close Benefit Section */
