#packet {
    color: #757575;
    background: white;
    font-family: "Avenir LT Std", sans-serif;
}

#packet .banner {
    height: 740px;
    width: 100%;
    background-size: cover;
    position: relative;
    border-radius: 0% 0% 90% 90% / 90% 90% 10% 10%;
    display: flex;
    align-items: center;
    background-color: #ef5a25;
    background-image: linear-gradient(124deg, #ef5a25, rgb(210 123 1)),
        linear-gradient(106deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0.69));
    overflow: hidden;
}

#packet .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0% 0% 90% 90% / 90% 90% 10% 10%;
}

#packet .banner .people {
    position: absolute;
    right: 10%;
    top: 120px;
}

#packet .banner .banner-text {
    display: flex;
    flex-flow: column;
    top: 0;
    left: 0;
    width: 500px;
    margin-left: 10%;
}

#packet .banner .banner-text .title {
    font-size: 50px;
    color: white;
}

#packet .banner .banner-text ul {
    margin: 0;
    padding: 0;
}

#packet .banner .banner-text ul li {
    list-style: none;
    color: white;
    display: flex;
    align-items: flex-start;
}

#packet .banner .banner-text ul li img {
    width: 21px;
    margin-right: 15px;
}

#packet .banner-middle {
    background: url("../../images/banners/about-middle.png");
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#packet .banner-middle p {
    width: 70%;
    text-align: center;
}

#packet .content {
    width: 800px;
    margin: 0 auto;
}

#packet .content--text {
    display: flex;
    justify-content: center;
    align-items: center;
}

#packet .content--text .card {
    background: #006884;
    border-radius: 8px;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 222px;
    height: 295px;
    margin-top: 25px;
    margin: 0 25px;
}

#packet .content--text .card-packet {
    height: auto;
    width: 305px;
    padding: 10px;
    padding-bottom: 30px;
}

#packet .content--text .card img {
    width: 128px;
    margin-bottom: 30px;
}

#packet .content--text .card .btn-card {
    color: #006884;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
    border-radius: 8px;
    font-family: "Avenir LT Std", sans-serif;
}

#packet .content--text .card .btn-card img {
    width: 20px;
    height: 20px;
    margin: 0;
}

#packet .content--text .card-packet img {
    margin-bottom: 0px !important;
}

#packet .content--text .card-packet p {
    margin: 0;
    padding: 0;
}

#packet .content--text .card-packet .big-size {
    font-size: 18px;
}

.banner-advertiser {
    height: 778px;
    width: 100%;
}

.banner-advertiser img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#packet .accordion-item {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 8px !important;
    margin-bottom: 20px !important;
    border: 1px solid #707070 !important;
}

#packet .accordion-item .accordion-button {
    border-radius: 20px !important;
    color: #006884;
    font-family: "Avenir LT Std", sans-serif;
    font-size: 14px;
}

#packet .calculator {
    width: 975px;
}

.card-calculator {
    border: 2px solid #707070;
    border-radius: 20px;
    padding: 30px;
}

#packet .header {
    display: flex;
    align-items: center;
}

#packet .card-calculator p {
    color: #006884;
}

#packet .card-calculator .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}

#packet .header .text p,
#packet .content .benefit p,
#packet .content .premi p {
    margin: 0;
    padding: 0;
}

#packet .content .premi {
    text-align: right;
}

#packet .header .image {
    width: 75px;
    height: 75px;
    background: #006884;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

#packet .card-calculator ul {
    margin: 0;
    padding: 0;
    height: 130px;
    overflow-y: scroll;
}

#packet .card-calculator ul li {
    list-style: none;
    display: flex;
    align-items: flex-start;
}

#packet .card-calculator ul li p {
    margin-top: -3px;
    margin-left: 10px;
}

#packet .card-calculator .btn {
    width: 100%;
    border-radius: 8px;
    background: #f05a22;
    color: white;
    margin-top: 30px;
}

#packet .form-range {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

#packet .assurance-choice {
    border: 2px solid #707070;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    margin-top: 10px;
    color: #006884;
}

#packet .assurance-choice__active {
    background: #f05a22;
    color: white;
}

#packet .assurance-choice__active .bullet {
    border: 6px solid white !important;
}

#packet .assurance-choice .bullet {
    border: 2px solid #707070;
    width: 24px;
    height: 24px;
    border-radius: 100%;
}

#packet .assurance-choice .description {
    width: 55%;
}

#packet .assurance-choice p {
    margin: 0;
    padding: 0;
}

#packet .assurance-choice-disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

#packet .input-group .datepicker {
    border-left: none;
    padding: 25px 10px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-color: #707070;
    border-width: 2px;
    font-size: 16px;
}

#packet .input-group img {
    border: 2px solid #707070;
    border-right: 0;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 0 20px;
}

@media screen and (max-width: 768px) {
    #packet .calculator {
        text-align: center;
        margin-top: 0 !important;
        padding-top: 0 !important;
    }

    #packet .calculator .description {
        text-align: left;
    }

    #packet .calculator .card-calculator {
        text-align: left;
    }

    #packet .calculator .card-calculator .content {
        padding: 0 !important;
    }

    #packet .banner {
        align-items: flex-start;
        padding: 100px 25px;
        flex-flow: column;
        padding-bottom: 0px !important;
        height: auto !important;
    }

    #packet .banner .people {
        position: relative;
        right: 0% !important;
        top: 30px !important;
    }

    #packet .banner-text {
        width: 100% !important;
        margin-left: 0px !important;
    }

    #packet .banner-text .title {
        font-size: 20px !important;
        text-align: center;
    }

    #packet .banner-text li p {
        font-size: 15px;
        text-align: left;
    }

    #packet .content {
        width: 100%;
        margin-top: 20px !important;
        padding: 0px 8% !important;
    }

    #packet .content--title p {
        font-size: 20px !important;
    }

    #packet .font-size-25 {
        font-size: 15px;
    }

    #packet .font-size-35 {
        font-size: 20px;
        line-height: 25px;
    }

    #packet .font-size-16 {
        font-size: 12px !important;
    }

    #packet .font-size-20 {
        font-size: 15px !important;
    }

    #packet .card-calculator ul li p {
        font-size: 12px;
    }
}
