body {
    background: white;
    color: #000000;
}

#navigation .navigation--desktop {
    background: #ff7831;
    padding: 12px !important;
}

#perisai ul {
    margin-left: 0 !important;
    padding-left: 20px;
}

#perisai ul li {
    background: url("/images/icons/icon-bullet.svg") no-repeat left 5px;
    padding-left: 2rem;
    list-style: none;
}

#perisai .btn {
    padding: 5px 40px !important;
}

#perisai .btn-no-padding {
    padding: 5px 0px !important;
}

#perisai .perisai--card {
    height: 270px;
    margin: 0 auto;
}

#perisai .perisai--form {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    height: 606px;
    margin-top: -10px;
    background: white;
    width: 100%;
}

#perisai .perisai--form__like {
    height: 456px;
}

/* #footer {
    margin-top: 456px;
} */

/* #footer {
    margin-top: 606px;
} */

#perisai .actions button {
    border: none;
    width: 45%;
    padding: 10px;
}

#perisai .actions button:first-child {
    border: 1px solid #828282;
}

#perisai .verification {
    padding: 50px 0px 100px 0px;
}

#perisai .otp--input {
    width: 43px;
    height: 64px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    text-align: center;
    font-size: 18px;
}

.btn-question-yes {
    border: 1px solid #9ca3af;
    box-sizing: border-box;
    border-radius: 13.4495px;
    background: white;
    color: #9ca3af !important;
}

.btn-question-no {
    background: linear-gradient(141.96deg, #0097d9 21.95%, #0061ae 118.68%);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 13.4495px;
    color: white !important;
}

#perisai .otp--body {
    width: 300px;
    margin: 20px auto;
}

.justify-between {
    display: flex;
    justify-content: space-evenly;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

#perisai .background-orange-gradient {
    padding-top: 75px;
}
