#polish {
    background: url("/images/banners/polish.jpeg");
    height: 800px;
    width: 100%;
    background-size: cover;
    padding: 150px 0px;
}

#polish .card {
    width: 90%;
    margin: 0 auto;
    height: 541px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 25px 0px #000000 25%;
}

#polish .actions .btn {
    border-radius: 10px;
    width: 250px;
    margin: 0px 20px;
}

#polish .content p:first-child {
    line-height: 40px;
    margin-bottom: 10px;
}
