#product {
    color: #757575;
    background: white;
    font-family: "Avenir LT Std", sans-serif;
}

/* #product .banner {
    height: 740px;
    width: 100%;
    background-size: cover;
    position: relative;
    border-radius: 0% 0% 50% 50% / 90% 90% 10% 10%;
}

#product .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0% 0% 50% 50% / 90% 90% 10% 10%;
} */

#product .banner {
    height: 740px;
    width: 100%;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

#product .banner:before {
    content: "";
    position: absolute;
    top: 0;
    left: -55%;
    bottom: -2px;
    width: 210%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    border-top: 0;
}

#product .banner .banner-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#product .banner .banner-text .title {
    font-size: 125px;
    color: #ffa814;
}

#product .banner-middle {
    background: url("../../images/banners/about-middle.png");
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#product .banner-middle p {
    width: 70%;
    text-align: center;
}

#product .content--text {
    display: flex;
    justify-content: center;
    align-items: center;
}

#product .content--text .card {
    background: #006884;
    border-radius: 16px;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 222px;
    height: 295px;
    margin-top: 25px;
    margin: 0 25px;
}

#product .content--text .card-packet {
    height: auto;
    width: 305px;
    padding: 10px;
    padding-bottom: 30px;
}

#product .card-reflect {
    -webkit-box-reflect: below 12px -webkit-linear-gradient(bottom, rgba(
                    255,
                    255,
                    255,
                    0.3
                )
                0%, transparent 17%, transparent 100%);
}

#product .content--text .card img {
    width: 128px;
    margin-bottom: 30px;
}

#product .content--text .card .btn-card {
    color: #006884;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
    border-radius: 10px;
    font-family: "Avenir LT Std", sans-serif;
}

#product .content--text .card .btn-card img {
    width: 20px;
    height: 20px;
    margin: 0;
}

#product .content--text .card-packet img {
    margin-bottom: 0px !important;
}

#product .content--text .card-packet p {
    margin: 0;
    padding: 0;
}

#product .content--text .card-packet .big-size {
    font-size: 18px;
}

.banner-advertiser {
    height: 578px;
    width: 100%;
    background: url("/images/banners/banner-promo.jpg");
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}

.banner-advertiser .image-people {
    width: 50%;
}

.banner-advertiser .image-people img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.banner-advertiser .text {
    width: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.banner-advertiser .text .title-promo {
    font-size: 27px;
    background: #026685;
    color: white;
    border-radius: 34px;
    text-align: center;
    padding: 10px 30px;
}

.banner-advertiser .text .discount-promo {
    font-size: 150px;
    padding: 0;
    margin: 0;
}

.banner-advertiser .text .btn-action {
    background: #026685;
    border: none;
    color: white;
    padding: 10px 30px;
    border-radius: 36px;
    font-size: 18px;
    margin-bottom: 10px;
}

.banner-advertiser .text .btn-action img {
    width: 25px;
    margin-left: 10px;
}

#product .card-packet {
    height: 350px !important;
}

#product .card-packet:hover {
    background: linear-gradient(124deg, #ef5a25, rgb(210 123 1)),
        linear-gradient(106deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0.69));
}

#product .card-packet:hover .hover-not-show {
    display: none;
    opacity: 0;
}

#product .card-packet:hover .hover-show {
    display: inline-block;
    opacity: 1;
}

#product .hover-show {
    height: 100%;
    padding: 10px;
    display: none;
    opacity: 0;
}

#product .hover-show p {
    text-align: left;
    font-size: 20px;
}

#product .hover-show ul {
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

#product .hover-show ul li {
    list-style: none;
    text-align: left;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

#product .hover-show ul li p {
    width: 88%;
    font-size: 14px;
}

#product .hover-show ul li img {
    width: 20px !important;
}

@media screen and (max-width: 768px) {
    #product .banner {
        height: 400px;
    }

    #product .banner:before {
        left: -75%;
        width: 250%;
    }

    #product .content--text {
        flex-flow: wrap;
    }

    #product .content--text .card {
        width: 42%;
        margin-bottom: 30px;
        -webkit-box-reflect: unset !important;
    }

    .banner-advertiser {
        flex-flow: column !important;
        height: auto;
    }

    .banner-advertiser .text {
        width: 100%;
    }

    .banner-advertiser .text .title-promo {
        margin-bottom: 10px;
        font-size: 17px;
    }

    .banner-advertiser .text .discount-promo {
        height: 190px;
    }

    .banner-advertiser .image-people {
        width: 40%;
        margin: 0 auto;
        margin-top: 30px;
    }
}

@media screen and (max-width: 480px) {
    #product .content {
        /* margin-top: 0px !important; */
        padding-top: 0px !important;
    }

    #product .content--text .card {
        width: 44%;
        margin: 10px !important;
    }

    #product .content--packet .content--text .card {
        width: 100%;
    }

    #product .banner {
        height: 300px;
    }

    #product .banner .banner-text {
        margin-top: 40px;
    }

    #product .banner .banner-text .title {
        font-size: 50px;
    }
}
