#profile .only-show-desktop {
    display: flex;
    height: 100vh;
}

#profile-navigation {
    width: 20%;
    background: #f2f4f5;
    height: 100vh;
    padding: 20px 40px;
}

#profile-navigation ul {
    list-style: none;
    padding: 0;
    margin-top: 35px;
}

#profile-navigation ul li {
    margin-bottom: 35px;
}

#profile-navigation ul li a {
    display: flex;
    align-items: center;
}

#profile-navigation ul li a p {
    color: #a2a9b0;
    margin: 0;
    margin-left: 15px;
}

#profile-navigation ul li .active p {
    color: #000000;
}

/* Profile Aside */
#profile-aside {
    width: 20%;
    background: #f2f4f5;
    height: 100vh;
    padding: 20px 40px;
}

#profile-aside .header {
    float: right;
}

#profile-aside .header .logout {
    display: flex;
    flex-flow: row;
}

#profile-aside .profile {
    margin-top: 75px;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

#profile-aside .profile .image {
    width: 143px;
    height: 143px;
    border-radius: 100%;
    background: #80c8ff;
}

#profile-aside .profile .biodata {
    text-align: center;
}

#profile-aside .profile .biodata p {
    margin: 0;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

.profile--menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.profile--menu p {
    width: 55%;
}

.profile--menu .image {
    width: 45px;
    height: 45px;
    background: #d8d8d8;
    border-radius: 8px;
}

/* Profile Content */
#profile-content {
    width: 60%;
    background: white;
    height: 100vh;
    padding: 20px 40px;
}

#profile-content .header {
    display: flex;
    justify-content: space-between;
}

#profile-content .search {
    width: 50%;
}

#profile-content .search input {
    border-color: #f2f4f5;
    border-left: none;
    background: #f2f4f5;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    font-size: 14px;
    padding: 20px;
    color: #a2a9b0;
}

#profile-content .search input::placeholder {
    color: #a2a9b0;
}

#profile-content .search .icon {
    border: 1px solid #f2f4f5;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-right: none;
    background: #f2f4f5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

/* Content Profile Nasabah */
#content-profile-nasabah .banner {
    background: #d1e9ff;
    position: relative;
    padding: 30px;
    border-radius: 16px;
    display: flex;
    flex-flow: row;
}

#content-profile-nasabah .banner .text {
    width: 55%;
}

#content-profile-nasabah .banner .image {
    position: absolute;
    right: 30px;
    bottom: 0px;
}

.box-product {
    background: #f2f4f5;
    border-radius: 16px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-product .image {
    background: #006884;
    border-radius: 16px;
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-product .name {
    width: 65%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
}

.box-product .separate {
    height: 52px;
    width: 5px;
    background: #ef5a25;
    border-radius: 30px;
}

.box-product .price {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.box-product .download {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Mobile layout */
@media screen and (max-width: 780px) {
    .only-show-mobile {
        background: white;
    }

    #profile-aside {
        width: 100%;
        height: auto;
    }

    #profile-aside .profile {
        flex-flow: column;
    }

    #profile-aside .profile .image {
        margin: 0 auto;
    }

    .menu--mobile {
        background: #006884;
    }

    .menu--mobile ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
    }

    .menu--mobile ul li {
        margin: 0;
        color: white;
    }

    .menu {
        padding: 0px 30px;
    }

    .profile--menu p {
        width: 70%;
    }

    /* Product */
    .product {
        padding: 10px 30px;
    }

    .box-product {
        padding: 20px;
        align-items: flex-start;
    }

    .box-product .content {
        width: 65%;
    }

    .box-product .content .name {
        margin-bottom: 75px;
        margin-top: 15px;
    }

    .box-product .download {
        justify-content: flex-end;
    }

    .container-profile {
        padding: 0px 30px;
    }

    .banner {
        background: #d1e9ff;
        border-radius: 32px;
        padding: 30px;
        text-align: center;
    }
}
