/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

#register {
    color: #757575;
    background: white;
    font-family: "Avenir LT Std", sans-serif;
    margin-bottom: 3000px;
}

#register .banner {
    height: 340px;
    width: 100%;
    background-size: cover;
    position: relative;
    border-radius: 0% 0% 30% 30% / 90% 90% 10% 10%;
    display: flex;
    margin-top: -1px;
}

#register .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0% 0% 90% 90% / 90% 90% 10% 10%;
}

#register .banner .banner-text {
    display: flex;
    flex-flow: column;
    top: 0;
    left: 0;
    margin-left: 4%;
    margin-top: 100px;
    width: 100%;
}

#register .banner .banner-text .title {
    font-size: 50px;
    color: white;
}

#register .banner .banner-text ul {
    margin: 0;
    padding: 0;
}

#register .banner .banner-text ul li {
    list-style: none;
    color: white;
    display: flex;
    align-items: flex-start;
}

#register .banner-middle {
    background: url("../../images/banners/about-middle.png");
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#register .steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 731px;
    margin: 0 auto;
    margin-top: 20px;
}

#register .steps .seperate {
    width: 29px;
    height: 3px;
    background: white;
    border: none;
}

#register .steps .step .text {
    background: white;
    border-radius: 5px;
    height: 28px;
    width: 146px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    opacity: 0.2;
}

#register .steps .step .active {
    opacity: 1;
}

#register .form-absolute {
    width: 80%;
    margin: 0 auto;
    top: 220px;
    position: absolute;
    left: 10%;
}

#register .form-absolute .card {
    width: 900px;
    margin: 0 auto;
    background: #f6f6f6;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 16%);
    padding: 20px;
}

#register .form-absolute .card .point,
#register .form-absolute .card .line-card {
    width: 595px;
    margin: 0 auto;
}

#register .form-absolute .card .line-card {
    margin: 20px auto;
}

#register .form-absolute .card .dropdown .dropdown-menu li:first-child {
    border-bottom: 1px solid #efefef;
}

#register .form-absolute .card .dropdown .dropdown-menu li a {
    text-decoration: none;
    cursor: pointer;
}

#register .form-absolute .card .dropdown-toggle {
    background: #006884;
    font-size: 12px;
    border-radius: 8px;
}

#register .form-absolute .card .dropdown-toggle::after {
    vertical-align: 0.2em;
    margin-left: 25px;
}

#register .form-absolute .btn-next,
#register .form-absolute .btn-prev {
    background: #f05a22;
    border-radius: 11px;
    font-size: 18px;
    color: white;
    font-size: 18px;
    padding: 5px 30px;
    margin-top: 40px;
    border: none;
}

#register .form-absolute .btn-prev {
    background: white;
    border: 1px solid #747474;
    color: #747474;
    margin-right: 15px;
}

#register .form-absolute .card .forms {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#register .form-absolute .card .forms .form {
    width: 47%;
}

#register .form-absolute .card .forms .form label {
    font-size: 15px;
    margin-left: 7px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

#register .form-absolute .card .forms .form label .optional {
    font-size: 10px;
    margin-left: 10px;
}

#register .form-absolute .card .forms .form input {
    border-radius: 7px;
    border-color: #dfdfdf;
    padding: 10px;
    font-size: 15px;
}

#register .form-absolute .card .forms .form .hint {
    text-align: right;
    font-size: 10px;
    color: #747474;
    margin-top: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
}

#register .form-absolute .card .forms .form .form-group {
    height: 104px;
    margin: 0;
}

#register .form-absolute .card .forms .form .error {
    color: #ff0000;
    font-size: 12px;
    width: 100%;
}

#register .form-absolute .card .forms .line-separate {
    width: 1px;
    background: #bbbbbb;
    border: none;
}

#register .form-absolute .card .forms .form .form-group .upload {
    height: 143px;
    width: 100%;
    border-color: #dfdfdf;
    border-radius: 7px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

#register .form-absolute .card .forms .form .form-group .upload img {
    margin-bottom: 10px;
}

#register .form-absolute .card .content-review {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}

#register .form-absolute .card .content-review .price {
    width: 24%;
}

#register .form-absolute .card .content-review .line-separate {
    width: 1px;
    height: 240px;
    background: #bbbbbb;
}

#register .form-absolute .card .content-review .data {
    width: 60%;
}

#register .accordion-item {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 7px !important;
    margin-bottom: 20px !important;
    border: 1px solid #dfdfdf !important;
}

#register .accordion-item hr {
    margin: 10px 0px !important;
}

#register .accordion-item .accordion-button {
    border-radius: 7px !important;
    color: #006884;
    font-family: "Avenir LT Std", sans-serif;
    font-size: 14px;
}

#register .accordion-content {
    display: flex;
    align-items: baseline;
}

#register .accordion-content .accordion-item {
    width: 90%;
}

#register .accordion-content .edit-button {
    width: 10%;
    text-align: right;
}

#register .content-review .tnc {
    display: flex;
    align-items: baseline;
    text-align: left;
}

#register .content-review .tnc label {
    margin-left: 15px;
}

#register .preview-ktp {
    width: 100%;
    position: relative;
    height: 180px;
    margin-left: 5px;
    border-radius: 8px;
}

#register .preview-ktp img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

#register .preview-ktp .btn-danger {
    position: absolute;
    right: 10px;
    top: 10px;
}

@media screen and (max-width: 768px) {
    #register .steps,
    #register .form-absolute,
    #register .form-absolute .card,
    #register .form-absolute .point,
    #register .form-absolute .line-card {
        width: 100% !important;
    }

    #register .form-absolute {
        width: 90% !important;
        left: 5% !important;
    }

    #register .steps {
        margin-top: 0px;
    }

    #register .step,
    #register .seperate,
    #register .line-separate {
        display: none !important;
    }

    #register .step-active {
        display: inline !important;
        margin: 0 auto;
    }

    #register .banner .banner-text .title {
        width: 100%;
        text-align: center;
    }

    #register .forms .form {
        width: 100% !important;
    }

    #register .form-absolute .card .forms {
        flex-flow: column;
    }

    #register .form-absolute #card-2 {
        height: 1150px !important;
    }

    #register .form-absolute #card-3 {
        height: 1170px !important;
    }

    #register .form-absolute .card .content-review {
        flex-flow: column-reverse;
        padding: 10px !important;
    }

    #register .form-absolute .card .content-review .price {
        width: 100%;
        text-align: center;
    }

    #register .form-absolute .card .content-review .data {
        width: 100%;
    }

    #register .form-absolute .card .content-review .line-separate {
        height: 1px !important;
        width: 100% !important;
        display: inline !important;
    }
}
