.font-color-white {
    color: white !important;
}

.font-color-orange {
    color: #f7941e;
}

.font-color-orange-700 {
    color: #f26937;
}

.font-color-gray {
    color: #828282;
}

.font-color-blue {
    color: #56ccf2 !important;
}

.font-color-netral {
    color: #6b7f9c;
}

.font-color-blue-800 {
    color: #006785;
}

.font-color-gray-700 {
    color: #374151;
}

.font-color-blue {
    color: #0097d9;
}

.font-color-yellow {
    color: #f2c94c;
}

.font-color-orient {
    color: #006884;
}

.font-color-red {
    color: #ff0000;
}

.font-color-black {
    color: black;
}

.font-color-boulder {
    color: #747474;
}

.font-color-flamingo {
    color: #f05a22;
}

.font-color-orange {
    color: #f15922;
}
