//
// SF UI Text
//

@import url("https://fonts.cdnfonts.com/css/sf-ui-text-2");

.width-100 {
    width: 100%;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-700 {
    font-weight: 700;
}

// Letter spacing
.letter-spacing-3 {
    letter-spacing: 3px;
}

// Font color

.margin-0 {
    margin: 0;
}

.line-height-35 {
    line-height: 35px;
}

// Flex option
.flex-flow-column {
    flex-flow: column;
}

.display-flex {
    display: flex;
}

.align-items-center {
    display: flex;
    align-items: center;
}

.justify-content-center {
    display: flex;
    justify-content: center;
}

.justify-content-flex-end {
    display: flex;
    justify-content: flex-end;
}

.justify-content-space-between {
    display: flex;
    justify-content: space-between;
}

// Background color
.background-blue-gradient {
    background: linear-gradient(141.96deg, #0097d9 21.95%, #0061ae 118.68%);
}

.background-gray-gradient {
    background: linear-gradient(214.28deg, #e0e0e0 11.29%, #bdbdbd 93.59%);
}

.background-orange-gradient {
    background: linear-gradient(272.06deg, #ff7732 28.99%, #ff9c3b 100%);
}

.background-white {
    background: white;
}

.color-white {
    color: white !important;
}

.text-decoration-underline {
    text-decoration: underline !important;
}

// Border Radius
.border-radius-4 {
    border-radius: 4px;
}

.border-radius-20 {
    border-radius: 20px;
}

.border-radius-15 {
    border-radius: 15px !important;
}

// Height
.height-700px {
    height: 700px;
}

.height-600px {
    height: 600px;
}

.height-300px {
    height: 300px;
}

.height-450px {
    height: 450px;
}

// Width
.w-90 {
    width: 90%;
}

.w-95 {
    width: 95%;
}

.w-15px {
    width: 15px !important;
}

// Text Option
.text-justify {
    text-align: justify;
}

.only-show-mobile {
    display: none !important;
}

.text-style-italic {
    font-style: italic;
}

// Display
.display-none {
    display: none;
}

// Additional
@media screen and (max-width: 780px) {
    .only-show-desktop {
        display: none !important;
    }

    .only-show-mobile {
        display: inherit !important;
    }
}
