.font-size-10 {
    font-size: 10px;
}

.font-size-11 {
    font-size: 11px;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-13 {
    font-size: 13px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-25 {
    font-size: 25px;
}

.font-size-30 {
    font-size: 30px;
}

.font-size-34 {
    font-size: 34px;
}

.font-size-35 {
    font-size: 35px;
}

.font-size-39 {
    font-size: 39px;
}

.font-size-44 {
    font-size: 44px;
}

.font-size-50 {
    font-size: 50px;
}
