#home .keunggulan {
  background: url("/images/banners/home-plan.svg");
  padding: 150px 0;
  background-size: cover;
}

#home .testimonial .testimonial--container .testimonial--scroll .testimonial--content .testimonial--item .testimonial--item__text {
  box-shadow: -3px 2px 34px -7px rgba(247, 148, 30, 0.75);
  -webkit-box-shadow: -3px 2px 34px -7px rgba(247, 148, 30, 0.75);
  -moz-box-shadow: -3px 2px 34px -7px rgba(247, 148, 30, 0.75);
}

