/* Responsive 950px */
@media screen and (max-width: 950px) {
    #home .banner {
        height: 630px;
    }

    .banner .banner-content .banner-text .title {
        font-size: 25px;
    }

    .banner .banner-text .category {
        font-size: 35px !important;
        display: inline-block;
    }

    .banner .banner-text .subcategory {
        font-size: 20px;
        margin-top: 10px;
    }

    .banner .banner-text .description {
        font-size: 15px;
    }

    .banner .arrows .arrow {
        top: 250px;
    }

    /* Packet */
    #home .packet {
        margin-top: 580px;
    }

    #home .keunggulan {
        margin-top: 50px;
    }

    /* Plan Card Benefit -> Only Show On Mobile */
    .card-packet .card {
        width: 100% !important;
    }

    .card-benefits {
        background: #ec592d;
        margin: 0px 10px;
        color: white;
        margin-top: -15px;
        padding: 30px 20px 10px 20px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        box-sizing: border-box;
        width: 100%;
    }

    .card-benefits ul {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: 10px;
    }

    .card-benefits ul li {
        list-style: none;
        text-align: left;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    .card-benefits ul li p {
        width: 88%;
        font-size: 14px;
    }

    .card-benefits ul li img {
        width: 20px;
    }

    .card-benefits .btn-card {
        color: #006884;
        background: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 170px;
        border-radius: 10px;
        font-family: "Avenir LT Std", sans-serif;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* Testimonial */
    .testimonial--container {
        padding-bottom: 50px;
    }
}

/* Responsive 768px */
@media screen and (max-width: 768px) {
    .banner .banner-item {
        flex-flow: wrap;
        justify-content: center;
    }

    .banner .banner-content .banner-text .title {
        font-size: 20px;
    }

    .banner .banner-content .banner-text {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .banner .banner-content .banner-text p {
        margin-bottom: 10px;
    }

    .banner .banner-text .category {
        font-size: 25px !important;
        width: fit-content;
        padding: 10px 30px;
    }

    .banner .banner-text .subcategory {
        font-size: 20px;
    }

    .banner .banner-text .description {
        font-size: 12px !important;
        text-align: center;
    }

    .banner .banner-item img {
        width: 90%;
    }

    #home .packet {
        margin-top: 400px;
    }

    #home .icon--mobile {
        flex-flow: column;
        bottom: 550px;
        position: absolute;
        width: 100%;
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

    #home .contact .background {
        z-index: 0;
        width: 100%;
        height: 860px;
        background-size: cover;
    }
    #home .contact .form {
        width: 100% !important;
        padding-bottom: 20px;
    }

    #home .content-button-send {
        display: flex;
        justify-content: center;
    }

    #home .contact {
        margin-top: 725px;
    }
}

/* 480px media screen */
@media screen and (max-width: 780px) {
    /* Banner */
    .banner {
        height: 490px !important;
        background-size: cover !important;
    }

    .banner .banner-item img {
        width: 100%;
    }

    .banner .bullets .bullet {
        background: #575757;
    }

    .btn-show-more {
        background: #575757;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 8px;
        padding: 10px 20px;
        margin-top: 25px;
    }

    .btn-show-more p {
        margin: 0;
        padding: 0;
        color: white;
    }

    .btn-show-more img {
        width: 20px !important;
        margin-left: 10px;
        display: none;
    }

    .content--title p,
    .contact p {
        font-size: 26px !important;
    }

    .plan .content--tab p {
        font-size: 16px !important;
    }

    .plan .content--tab {
        margin: 0 10px !important;
    }

    .plan {
        margin-top: 30px;
    }

    #home .content--text .card {
        margin: 0 10px;
    }

    #home .plan .content--tabs {
        margin-bottom: 25px;
        margin-top: 15px;
    }

    .keunggulan .content--text {
        display: flex;
        flex-flow: wrap;
    }

    .keunggulan .content--text .card {
        -webkit-box-reflect: unset !important;
        margin-bottom: 20px !important;
    }

    .contact img {
        width: 200px;
    }

    /* Testimonial */
    .testimonial--item {
        flex-flow: wrap;
        width: 65%;
    }

    .testimonial--item__image {
        position: absolute;
        top: 100px;
        left: calc((65% - 200px) + 3%);
        width: 200px;
    }

    .testimonial--item__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .testimonial--item__text {
        margin-top: 180px;
        text-align: center;
        padding-top: 100px;
        position: relative;
    }

    .testimonial--item__text img {
        position: absolute;
        z-index: 9;
        left: calc((65% - 71px) + -6%) !important;
        top: 60px;
    }

    #home .contact {
        margin-top: 390px;
    }

    /* Mitra */
    .mitra {
        margin-top: 65px !important;
    }

    .mitra img {
        display: block;
    }

    /* Panduan */
    .panduan {
        margin-top: 65px !important;
    }

    .panduan .arrows {
        display: none;
    }

    .slider--panduan {
        overflow: visible !important;
    }

    .slider--panduan .slider--scroll {
        width: 100% !important;
        margin: 0 !important;
        display: flex;
        flex-flow: wrap;
    }

    .slider--panduan .slider--scroll .slider--item,
    #home .slider--panduan .slider--scroll .slider--item__active {
        width: 100% !important;
        padding: 20px;
        margin: 0;
        margin-top: 90px !important;
        height: 300px !important;
    }

    .slider--panduan .slider--scroll .slider--item:first-child {
        margin-top: 0px !important;
    }

    .btn-download-panduan {
        font-size: 14px !important;
        border-radius: 36px !important;
        margin-top: 10px;
    }

    .btn-download-panduan img {
        width: 15px;
    }
}

/* Screen 414px */
@media screen and (max-width: 414px) {
    /* Banner */
    .banner-text .title {
        text-align: center;
    }

    /* Packet */
    .packet-item .justify-content-center {
        flex-flow: wrap;
    }

    .packet-item .justify-content-center .card {
        width: 10%;
        margin-bottom: 25px !important;
    }

    #home .plan .content--tabs {
        flex-flow: wrap;
    }

    .plan .content--tab {
        margin: 10px 20px !important;
    }

    .testimonial--item__image {
        left: calc((65% - 167px) + 3%);
    }

    .testimonial--item__text img {
        left: calc((65% - 55px) + -6%) !important;
    }

    /* Mitra */
    .mitra img {
        width: 30%;
    }

    .mitra .justify-content-center {
        flex-flow: wrap;
    }

    /* Plan benefits */
    .card-benefits {
        margin-top: -40px;
    }

    /* Banner */
    .banner .banner-content {
        padding: 85px 0px;
    }

    .banner .banner-content .banner-image {
        width: 100%;
    }

    .banner .bullets {
        bottom: 50px;
    }

    .banner .btn-show-more {
        background: #015f7b;
    }

    .banner .arrows {
        display: none;
    }
}
