#footer {
    background: $orange;
    padding: 40px;
    color: white;

    .logo {
        margin-bottom: 25px;
    }

    .footer--informations {
        padding: 50px 25px;
        justify-content: space-between;
        display: flex;

        .footer--information {
            .information--icons {
                display: flex;
                justify-content: space-between;
                width: 70%;
            }

            .information--title {
                width: 90px;
            }

            .information--icon {
                width: 10%;
                background: rgba(255, 255, 255, 0.25);
                width: 52px;
                height: 52px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 10px;
            }

            .information--icon--border {
                width: 37px;
                height: 37px;
                border: 2px solid white;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .line {
        width: 100%;
        height: 0.1px;
        background: #f2f2f2;
    }

    .footer--menu {
        margin-top: 25px;

        .menu--link {
            display: inline-block;
            text-decoration: none;
            width: 150px;
        }
    }
}

.footer-v2 {
    background: linear-gradient(119deg, #ff8e00 0%, #ff7800 100%) !important;
    font-family: "Avenir LT Std", sans-serif;

    .logo {
        img {
            width: 100px;
            margin-right: 30px;
        }
    }
}

@media screen and (max-width: 768px) {
    #footer {
        padding: 30px 10px;
        text-align: center;

        .logo {
            img {
                width: 35%;
            }
        }

        .footer--informations {
            padding: 30px 0px;
            display: inline-block;

            .footer--information {
                .display-flex {
                    display: flex;
                    flex-flow: column;
                    align-items: center;

                    .information--text {
                        text-align: center;
                        margin-top: 10px;
                        margin-bottom: 25px;

                        p:last-child {
                            font-size: 22px;
                        }
                    }

                    .information--icon {
                        margin-right: 0;
                    }
                }

                .information--title {
                    display: none;
                }

                .information--icons {
                    width: 45%;
                    margin: 0 auto;
                }
            }
        }

        .footer--menu {
            margin-top: 15px;

            nav {
                margin: 0 auto;

                ul {
                    li:last-child {
                        margin-right: 0;
                    }
                }
            }

            .footer--copyright {
                text-align: center;
                margin-top: 15px;
            }
        }
    }

    .footer-v2 {
        padding: 10px !important;

        .logo {
            img {
                width: 70px !important;
            }
        }

        .footer--information {
            text-align: left !important;

            img {
                width: 30px;
            }

            .display-flex {
                flex-flow: row !important;
                align-items: flex-start !important;

                .information--icon {
                    width: 30px !important;
                    height: 30px !important;

                    img {
                        width: 30px;
                    }
                }

                .information--text {
                    margin-left: 10px !important;
                    margin-top: 0 !important;

                    p {
                        text-align: left;
                    }
                }
            }
        }

        .menu--link {
            width: 50%;
        }

        .footer--copyright {
            text-align: left !important;
            display: block;
            margin-top: 20px;

            img {
                width: 50px;
                border-radius: 4px;
                margin: 0 !important;
            }
        }
    }
}
