@font-face {
    font-family: "Avenir", sans-serif;
    src: url("../../../fonts/AvenirLTStd-Roman.otf");
}

#navigation {
    font-family: "Avenir";
    position: absolute;
    top: 0;
    width: 100%;
    background: white;
    color: #016076;
    z-index: 99999;

    .navigation--mobile {
        display: none;
        padding: 10px 0px;
    }

    .navigation--desktop {
        padding: 15px 0px;
    }

    .navigation-active {
        background: rgba(255, 255, 255, 0.1);
        padding: 0px 20px;
        border-radius: 6px;
    }

    nav {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;

            li {
                margin-right: 60px;

                a {
                    color: #016076;
                    text-decoration: none !important;
                }
            }
        }
    }

    .btn-login {
        background: linear-gradient(
            119deg,
            rgb(255, 142, 0) 0%,
            rgb(255, 120, 0) 100%
        );
        color: white;
        border-radius: 6px;
        padding: 15px 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dropdown:hover .menu-dropdown {
        display: inherit;
    }

    ul {
        display: flex;
        align-items: center;
        height: 35px;

        li:last-child {
            margin-right: 0px !important;
        }

        li {
            margin-right: 80px;
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;

            .menu-dropdown {
                position: absolute;
                background: white;
                border-radius: 4px;
                padding: 0px;
                margin-top: 10px;
                display: none;
                border: 1px solid #efefef;
                top: 25px;

                ul {
                    flex-flow: column;
                    height: 100%;
                    margin-top: 0 !important;

                    li {
                        display: block;
                        margin: 0 !important;
                        padding: 10px 20px;
                        width: 250px;
                        border-bottom: 1px solid #efefef;
                        height: auto !important;

                        a {
                            color: #006884 !important;
                        }

                        &:hover {
                            background: whitesmoke;
                        }
                    }
                }
            }
        }
    }
}

.navigation--transparent {
    font-family: "Avenir LT Std", sans-serif;
    position: fixed !important;
    background: transparent;

    .logo {
        img {
            width: 105px;
        }
    }

    .navigation--desktop {
        background: transparent !important;
    }

    .container {
        max-width: 95% !important;
    }

    .button--login {
        font-family: "Avenir LT Std", sans-serif;
        color: white;
        background: transparent;
        border: 1px solid white;
        border-radius: 5.97px;
        font-weight: 100;
        padding: 2.5px 20px;
    }
}

.navigation--white {
    background: white;
    font-family: "Avenir LT Std", sans-serif;
    position: fixed !important;
    box-shadow: 0px 3px 5px rgba($color: #000000, $alpha: 0.16);

    .navigation--desktop {
        background: white !important;
    }

    .container {
        max-width: 95% !important;
    }

    .button--login {
        font-family: "Avenir LT Std", sans-serif;
        color: white;
        background: linear-gradient(
            119deg,
            rgb(255, 142, 0) 0%,
            rgb(255, 120, 0) 100%
        );
        border: none;
        border-radius: 6px;
        font-weight: 100;
        padding: 2.5px 20px;
    }

    .line-separate {
        margin: 0px 40px;
        height: 100%;
        width: 1px;
        background: #4b5563;
    }

    ul {
        display: flex;
        align-items: center;

        li {
            margin-right: 80px;

            a {
                color: #006884 !important;
            }
        }

        li:last-child {
            margin-right: 0px !important;
        }
    }
}

// Navigation Slide
.navigation--slide {
    width: 100%;
    height: 100vh;
    background: #f5f5f5;
    position: fixed;
    top: 0;
    color: #006884;
    margin-left: -100%;

    .close {
        cursor: pointer;
    }

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: white;
        padding: 20px 30px;

        p {
            margin: 0;
        }
    }

    .dropdown {
        display: none;
        display: flex;
        flex-flow: wrap;

        .collapse {
            width: 100%;
        }
    }

    nav {
        ul {
            display: flex;
            flex-flow: column;
            align-items: flex-start !important;
            height: auto !important;

            li {
                padding: 15px 30px;
                margin: 0;
                display: flex;
                align-items: center;

                img {
                    margin-right: 15px;
                }

                p {
                    margin: 0;
                }

                a {
                    width: 100%;
                    color: #006884 !important;
                }
            }
        }
    }

    .seperate-user {
        background: #747474;
        padding: 15px 20px;
        width: 100%;
        text-align: left;
        color: white;

        p {
            margin: 0;
        }
    }

    .action--bottom {
        background: #006884;
        padding: 15px;
        width: 100%;
        text-align: center;
        position: fixed;
        bottom: 0;
        color: white;

        p {
            margin: 0;
        }
    }
}

@media screen and (max-width: 950px) {
    #navigation {
        // background: white;
        padding: 0px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);

        .navigation--desktop {
            display: none !important;
        }

        .navigation--mobile {
            display: inline !important;

            .logo {
                img {
                    width: 60px;
                }
            }
        }
    }

    .navigation--transparent {
        // background: transparent !important;
        border: none;
        box-shadow: none !important;
    }
}

.navigation--background-white {
    background: white !important;

    nav {
        ul {
            li {
                a {
                    color: #006884 !important;
                }
            }
        }
    }

    .button--login {
        color: #006884 !important;
        border: 1px solid #006884 !important;
    }
}

#login {
    .tabs {
        display: flex;
        flex-flow: wrap;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        .tab {
            background: rgba(169, 171, 174, 0.2);
            color: #b9b9b9;
            width: 50%;
            height: 77px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
        }

        .active-tab {
            background: #f05a22;
            color: white;
        }
    }

    .input-group {
        background: rgba(169, 171, 174, 0.2);
        padding: 10px 30px;
        border-radius: 36px;

        input {
            background: transparent;
            border: none;
            margin-left: 10px;
        }
    }

    .btn-action {
        background: #f05a22;
        width: 100%;
        color: white;
        border-radius: 36px;
        padding: 10px;
        font-size: 17px;
    }
}
